[2019-05-03 02:52] patrickp opened #1 "Decide on final name for main extension"
We need to define names for each of the actual extensions.  The entire git repository for all the extensions is mvextensions.  It seemed redundant and not fully clear if we then called the primary extension also mvextensions.  I checked in VSS and mvbasic is not taken.  I have for now renamed this primary extension mvbasic.  This extension has

1. Syntax highlighting
2. Linter
3. File system handl

[2019-05-29 17:39] itsxallwater commented on #1
I like mvbasic.

[2019-05-29 17:49] itsxallwater opened #2 "Enhance Readme"
The README is incomplete as-is and should be fleshed out. See [this open source guide](https://opensource.guide/starting-a-project/) as an example.

[2019-05-29 17:49] itsxallwater opened #3 "Create Contribution Guidelines"
This repository could use some Contribution Guidelines. See [this GitHub help article](https://help.github.com/en/articles/setting-guidelines-for-repository-contributors) for some ideas.

[2019-05-29 17:50] itsxallwater opened #4 "Create a Code of Conduct"
This repository could use a Code of Conduct before being opened to the public. See [this open source guide article](https://opensource.guide/code-of-conduct/) for ideas.

[2019-06-03 16:41] itsxallwater commented on #4
[Created within an organization-wide repo](https://github.com/mvextensions/.github/blob/master/CODE_OF_CONDUCT.md), .github, such that we won't have to clone and maintain across individual repos.

Example of visibility is when creating a new Issue or Pull Request:

![image](https://user-images.githubusercontent.com/13155413/58818865-c58e0480-85e3-11e9-8d96-ef150dac989f.png)

[2019-06-03 16:41] #4 closed

[2019-06-03 18:16] itsxallwater commented on #3
Added CONTRIBUTING.md to .github repo for org-wide docs. Here's an example of how it then ties into the rest of the repos, showing as a link when reporting a new Issue:

![image](https://user-images.githubusercontent.com/13155413/58824447-f294e400-85f0-11e9-9a71-c1dc74d7bb34.png)

[2019-06-03 18:16] #3 closed

[2019-06-03 18:55] itsxallwater commented on #2
Added more context to current README

[2019-06-03 18:55] #2 closed

[2019-06-26 22:28] itsxallwater opened #5 "[BUG] Extension crashes when used locally, with Remote SSH"
**Describe the bug**
When using the extension with the Remote SSH extension, the extension fails to start 5 times in a row before shutting itself down.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the Remote SSH extension
2. Use it to connect to a remote server via SSH (CentOS 7 was used in this instance)
3. After connecting, tell the remote instance to install the MVON# Develope

[2019-06-27 04:06] itsxallwater commented on #5
Hold the phone, this seems to also be an issue locally too.

[code]

[2019-06-27 04:58] itsxallwater opened #6 "[FEATURE] Add VNAV checking to the Language Server"
**Is your feature request related to a problem? Please describe.**
Many shops don't catch runtime-errors like VNAVs until execution occurs and the error is logged. Some flavors, like jBASE, will warn you about runtime errors during compilation but some of these errors would be relatively easy to look for when developing in a disconnected manner with no compiler access.

**Describe the solution you

[2019-06-27 13:01] itsxallwater commented on #5
Follow up note: running the extension from source seems to work fine. At this point it would be good to have someone else verify the existence of the error in their environment. For what it's worth, I did try removing and reinstalling already.

[2019-07-02 17:10] pschellenbach opened #7 "[BUG] Inconsistent RestFS API"
The RESTFS API has two different response formats for the 'dir' API command. In `extension.ts`, the results from the 'dir' command are returned as an array in the 'Directories' property. In `RestFS.ts`, the results from the 'dir' command are returned as an array in the 'Files' property.

When implementing a RestFS endpoint, how is the server to determine which response format to return? Should it

[2019-07-03 16:04] itsxallwater commented on #7
Tag @GrantHart you're it!

[2019-07-05 15:50] itsxallwater opened #8 "[BUG] Add build config to drive prod vs dev requirements"
**Describe the bug**
Currently when building for development vs building for production, the `client\src\extension.ts` file requires line 32 to be set appropriately.

1. Development:
`let serverModule = context.asAbsolutePath(path.join('server', 'server.js'));`
2. Production:
`let serverModule = context.asAbsolutePath(path.join('client\server', 'server.js'));`

This is a perfect opportunity to int

[2019-07-05 15:51] itsxallwater commented on #1
So it was written, and so it shall be--welcome to the world, MV Basic!

[2019-07-05 15:51] #1 closed

[2019-07-05 16:54] itsxallwater opened #9 "[FEATURE] Add jBASE Language Syntax"
**Is your feature request related to a problem? Please describe.**
Currently, the `client\Syntaxes\MvLanguage.json` file contains MVON# Basic syntax. We are looking to include jBASE syntax out of the box to have available as an option within the extension.

**Describe the solution you'd like**
An acceptable pull request for this issue would include a jBASE version of the MvLanguage.json file that

[2019-07-05 16:55] itsxallwater opened #10 "[FEATURE] Add OpenQM Language Syntax"
**Is your feature request related to a problem? Please describe.**
Currently, the `client\Syntaxes\MvLanguage.json` file contains MVON# Basic language definition and the `client\Syntaxes\MVON.tmLanguage.json` file contains the MVON# Basic syntax highlighting definition. We are looking to include OpenQM syntax out of the box to have available as an option within the extension.

**Describe the solut

[2019-07-05 16:56] itsxallwater opened #11 "[FEATURE] Add D3 Language Syntax"
**Is your feature request related to a problem? Please describe.**
Currently, the `client\Syntaxes\MvLanguage.json` file contains MVON# Basic language definition and the `client\Syntaxes\MVON.tmLanguage.json` file contains the MVON# Basic syntax highlighting definition. We are looking to include D3 syntax out of the box to have available as an option within the extension.

**Describe the solution

[2019-07-05 16:56] itsxallwater opened #12 "[FEATURE] Add UniVerse Language Syntax"
**Is your feature request related to a problem? Please describe.**
Currently, the `client\Syntaxes\MvLanguage.json` file contains MVON# Basic syntax. We are looking to include UniVerse syntax out of the box to have available as an option within the extension.

**Describe the solution you'd like**
An acceptable pull request for this issue would include a UniVerse version of the MvLanguage.json file

[2019-07-05 16:58] itsxallwater opened #13 "[FEATURE] Add UniData Language Syntax"
**Is your feature request related to a problem? Please describe.**
Currently, the `client\Syntaxes\MvLanguage.json` file contains MVON# Basic language definition and the `client\Syntaxes\MVON.tmLanguage.json` file contains the MVON# Basic syntax highlighting definition. We are looking to include UniData syntax out of the box to have available as an option within the extension.

**Describe the solu

[2019-07-05 17:07] itsxallwater opened #14 "[FEATURE] Add Configurable Language Syntax"
**Is your feature request related to a problem? Please describe.**
Currently, `server\src\server.ts` hard codes the language syntax file to use with this line:

`filePath = filePath+"/../Syntaxes/MvLanguage.json";`

With the requests for platform specific language syntax, it would be efficient to tie the selected syntax to the user's/workspace's configured platform.

**Describe the solution you'd

[2019-07-05 17:13] itsxallwater opened #15 "[FEATURE] Enhance the Linter to include Code Snippets"
**Is your feature request related to a problem? Please describe.**
The linter does not currently leverage the Code Snippets file, `client\Syntaxes\snippets.json`, to provide suggestions/enforce expected coding practices.

**Describe the solution you'd like**
Take, for instance, the snippet for a FOR loop:

[code]

The Linter should analyze for loops to ensure they adhere to this structure and if t

[2019-07-05 17:13] itsxallwater commented on #15
FWIW @GrantHart is currently in progress on this so assigning to him.

[2019-07-05 17:16] itsxallwater opened #16 "[FEATURE] Add jBASE Code Snippets"
**Is your feature request related to a problem? Please describe.**
Currently, the `client\Syntaxes\snippets.json` file contains generic Code Snippets. We are looking to include jBASE-specific snippets out of the box to have available as an option within the extension.

**Describe the solution you'd like**
An acceptable pull request for this issue would include a jBASE version of the `snippets.json

[2019-07-05 17:17] itsxallwater opened #17 "[FEATURE] Add OpenQM Code Snippets"
**Is your feature request related to a problem? Please describe.**
Currently, the `client\Syntaxes\snippets.json` file contains generic Code Snippets. We are looking to include OpenQM-specific snippets out of the box to have available as an option within the extension.

**Describe the solution you'd like**
An acceptable pull request for this issue would include an OpenQM version of the `snippets.j

[2019-07-05 17:17] itsxallwater opened #18 "[FEATURE] Add D3 Code Snippets"
**Is your feature request related to a problem? Please describe.**
Currently, the `client\Syntaxes\snippets.json` file contains generic Code Snippets. We are looking to include D3-specific snippets out of the box to have available as an option within the extension.

**Describe the solution you'd like**
An acceptable pull request for this issue would include a D3 version of the `snippets.json` file

[2019-07-05 17:18] itsxallwater opened #19 "[FEATURE] Add UniVerse Code Snippets"
**Is your feature request related to a problem? Please describe.**
Currently, the `client\Syntaxes\snippets.json` file contains generic Code Snippets. We are looking to include UniVerse-specific snippets out of the box to have available as an option within the extension.

**Describe the solution you'd like**
An acceptable pull request for this issue would include a UniVerse version of the `snippet

[2019-07-05 17:19] itsxallwater opened #20 "[FEATURE] Add UniData Code Snippets"
**Is your feature request related to a problem? Please describe.**
Currently, the `client\Syntaxes\snippets.json` file contains generic Code Snippets. We are looking to include UniData-specific snippets out of the box to have available as an option within the extension.

**Describe the solution you'd like**
An acceptable pull request for this issue would include a UniData version of the `snippets.

[2019-07-05 17:26] itsxallwater opened #21 "[FEATURE] Add sample Workspace Configurations & update Docs"
**Is your feature request related to a problem? Please describe.**
New users looking to setup a workspace to connect with a supported Pick server may experience a little frustration getting started. The documentation does cover configurations, but it needs to be updated to include the latest configuration options.

**Describe the solution you'd like**
Update the docs and also introduce a new `samp

[2019-07-05 17:26] itsxallwater commented on #21
Note @dthiot is in progress on this so assigning to him!

[2019-07-05 17:33] itsxallwater opened #22 "[FEATURE] Update Naming Conventions"
**Is your feature request related to a problem? Please describe.**
The project still references MVON and ONgroup. Need to update to change MVON references to MV Basic and ONgroup references to MV Extensions.

**Describe the solution you'd like**
Make the name changes, specifically focusing on extension configuration names and publisher info but elsewhere as acceptable/necessary.

An example where

[2019-07-05 17:33] itsxallwater commented on #22
Note that @CharlesBarouch is in progress on this so assigning to him!

[2019-07-08 17:18] dthiot commented on #22
I took much of the reference to ONgroup and MVON# out of the documentation.  However, I wasn't exactly sure how to replace it and chose MVextensions.

[2019-07-08 17:20] dthiot commented on #21
I have updated the documentation with standardized sample configurations.  I still need to add mvBase as a configuration.

[2019-07-11 17:52] pschellenbach commented on #7
I would like to propose that the 'dir' REST command return an 'items' array, instead of either 'files' or 'directories'. And if its not too difficult at this stage, perhaps the 'file' REST command should return an 'item' array instead of 'ProgramLines'. This might make more sense, if, for example, we wanted to create a "dictionary editor" extension in the future, where the content returned is not

[2019-07-16 16:41] mikes-zum commented on #9
Mike,
Attached is a first pass of the jBASE version of the MVON Language file, in a zip, as JSON is not accepted.

There is a lot more to add, so I will be continuing with index number 78 onwards, probably in alphabetic order.

[jBASELanguage.zip](https://github.com/mvextensions/mvbasic/files/3398132/jBASELanguage.zip)

Mike

[2019-07-17 19:50] itsxallwater commented on #9
@mikes-zum this looks great so far! If you're feeling adventurous, as you get closer let me know if you'd like to submit the finished product as a pull request and I can help walk you through that.

Also to anyone following along, I played with GitHub comments and I've worked out how to inline JSON (or any code/text) and also put it behind a collapsible section so if that's of interest to anyone l

[2019-07-23 12:54] GrantHart commented on #7
Hi Pete,

The initial REST design was 2 level approach with a list of directories at the first level and program data at the second. Although there are 2 classes, File and Directories, the structure is exactly the same. How ever there is a Type parameter which can contain a 1 for directory and 2 for files. When the extension is initialized, the returned JSON currently just creates directories but

[2019-07-24 16:43] mikes-zum commented on #9
Attached is a complete jBASE syntax file, currently without any "jabba" bits. It may need some more work, but is mostly complete.

How would I modify the MVON extension to use this syntax, or should I just use it to replace the MVON one for now?

[jBASELanguage.zip](https://github.com/mvextensions/mvbasic/files/3427864/jBASELanguage.zip)

[2019-07-24 17:05] itsxallwater commented on #9
Excellent, thanks @mikes-zum!

As far as using this new syntax, #14 sets the tone for what we'll be looking for to make this configuration driven. But yes for local usage if you wanted to override for now it would be a matter of replacing the `\mvbasic\client\Syntaxes\MvLanguage.json` file with this one.

[2019-07-25 17:08] mikes-zum commented on #9
An updated version of the jBASE syntax with a TRIMS() function definition added.

[jBASELanguage_25Jul2019.zip](https://github.com/mvextensions/mvbasic/files/3432592/jBASELanguage_25Jul2019.zip)

[2019-08-01 00:21] JeffTeter commented on #12
I would like to give this a go... I assume I can use the pattern already created by the jBase file. Also, is there a need to create separate files for various versions of the language?

[2019-08-01 01:34] dthiot commented on #12
Jeff,

What kind of versions of the language are you thinking of?

Dick

From: Jeff Teter <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Wednesday, July 31, 2019 at 7:21 PM
To: mvextensions/mvbasic <mvbasic@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [mvextensions/mvbasic] [FEATURE] Add UniVerse Language Syntax (#12)

I

[2019-08-01 06:54] JeffTeter commented on #12
Versioning referencing new features added, for instance, between 11.3.1 & 12.1. Not major issues, but a few new items.

[2019-08-01 14:25] andrewcole50 commented on #9
Is the syntax being used correct? While the suggestions appear in Intellisense, they do not work like other languages. I've attached a screenshot of using the PHP function str_replace and how Intellisense works vs the above Iconv. Notice how the function helper stays on screen and finished the parenthesis during typing while it disappears and does not autocomplete with Iconv.

![ICONV example](htt

[2019-08-01 14:56] andrewcole50 commented on #21
How accurate is the current documentation? I don't believe the Jbase section is as it uses GatewayFS while the changelog says it only uses RestFS (which doesn't work for me). The settings used for Jbase in the docs aren't in the extension anymore either.

[2019-08-01 15:00] dthiot commented on #21
Andrew,

We are in the process of updating the documentation however, attached is the latest copy.  Please let me know if you find any issues with it.  It shows jBASE with a RestFS configuration example.

Thanks,
Dick

From: andrewcole50 <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Thursday, August 1, 2019 at 9:56 AM
To: mvextensions/mvbasic <mvbasic@nor

[2019-08-01 15:29] andrewcole50 commented on #21
The attachment didn't seem to work. I sent you a direct email about it.

[2019-08-01 18:23] andrewcole50 opened #23 "[BUG] Incorrect Comment highlighting"
**Describe the bug**
Valid comments are not always highlighted correctly

**To Reproduce**
Steps to reproduce the behavior:
Any comment that is preceded by a label (both numerical and textual) as well as a comment without a character between the * and the new line.

**Expected behavior**
Expect to have the asterisk and characters after it highlighted as a comment.

**Screenshots**
![comments](http

[2019-08-01 19:45] dthiot commented on #21
Just FYI to the team.  I have emailed the most current PDF to Andrew.

From: andrewcole50 <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Thursday, August 1, 2019 at 10:30 AM
To: mvextensions/mvbasic <mvbasic@noreply.github.com>
Cc: Dick Thiot <dthiot@mavsys.com>, Assign <assign@noreply.github.com>
Subject: Re: [mvextensions/mvbasic] [FEATURE] Add sample Wo

[2019-08-01 19:53] itsxallwater commented on #21
Thanks for jumping on that @dthiot and big thanks for @andrewcole50 for the inquiry. I've linked the commits to this repo that had the corresponding doc updates but said doc updates should also be in the clone of the repo for the master branch. Just for the record :)

[2019-08-01 20:02] itsxallwater commented on #9
Hey @andrewcole50! Thanks for stopping by, extremely happy to have you joining the conversation here.

On the IntelliSense front, you're absolutely correct. We'll take a look at what can happen to cause the helper to stay until the entirety of the syntax that was matched is received.

On the function details, we're going to try to keep those definitions as standard to the documentation for the res

[2019-08-01 20:24] itsxallwater commented on #22
@CharlesBarouch thanks for the commit, I've not yet had a chance to look but will try to do so and get you notes. @GrantHart if you wanted to peek here's just a tag to give you a heads up that Chuck got some name changes committed for the team to review w/ commit https://github.com/mvextensions/mvbasic/commit/15998ccabc29f83e4bca24d5dfd25c0df140b1e2.

[2019-08-01 20:27] itsxallwater commented on #12
Hey @JeffTeter! Great question and honestly, something we'd not yet addressed. I think for now the safest assumption would be to target the latest release, that's what has happened thus far with respect to the MVON# Basic language definition as well as the jBASE. Supporting previous versions of a respective language's definition/documentation would be very nice and slick as a follow up improvement

[2019-08-01 20:49] itsxallwater commented on #23
Hey @andrewcole50! Thanks for the great write up.

I've tested your scenario against the jBASE definitions that are being prepared in another ticket so this is not a like-for-like, but I am mentioning because I think it will help further the conversation. I also expanded the scenario to include some same-line comments after semi-colons and to include `!` comments.

![image](https://user-images.git

[2019-08-01 22:38] JeffTeter opened #24 "[BUG] Using "customWordPath" options not working"
**Describe the bug**
I have a file with custom words that in previous iterations worked properly. The following config options are set:

"mvon.customWordPath": "C:\\users\\jteter\\documents\\VSCode\\WNBVariables.txt",
"mvon.customWordColor": "RED"

The words are not being colored and the hover function does not work. I am seeing the following messages in the output console:

[Error - 5:24:50 PM] R

[2019-08-02 02:24] JeffTeter commented on #12
Thanks for the note. I'm actually making good progress with 592 elements defined.

At this point, I'm thinking that rather than providing separate files, I may just note in the description something like "(v12.1 & above)" for new features.
A couple of other quick questions:
1. Can you point me at a source for the icons?
2. Is there any magic in the index, other than being unique?

Thanks!

[2019-08-02 04:33] itsxallwater commented on #12
Nicely done! I like your approach, I think that's perfectly reasonable.

1. The icons map to this [CompletionItemKind Enum](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.languageserver.protocol.completionitemkind?view=visualstudiosdk-2019) from Microsoft. I think this document reads better than the one they've got in the VS Code Extension authoring docs. Unfortunately I haven'

[2019-08-02 04:48] itsxallwater commented on #24
Hey Jeff, the key here I think is that you noted it was working in previous iterations. I just tested it against the code in this repo and it is indeed still working in this version.

![image](https://user-images.githubusercontent.com/13155413/62345078-97268b80-b4a5-11e9-9500-d64bb98e3a93.png)

This raises an interesting point that we've perhaps not done a good enough job of explaining. This repo

[2019-08-04 19:09] JeffTeter commented on #12
Thanks for the info. I'm just about done with the UniVerse language file. I notice that your keywords are sentence cased. Is that the preference? I guess being an old developer, I'm used to SHOUTING instructions! :-) Also, I got functions and constants identified easily enough. Since UniVerse is not object oriented, seems like most other keywords are just that... Rather than constructors, etc...

[2019-08-05 12:17] andrewcole50 commented on #9
I would say that sounds like a great goal to work towards. Once that goal is completed I would suggest that the project should work towards either improving the upstream flavor's documentation (as it looks like we're going to do with Jbase =D ) or if that's not possible, fixing them within this project anyways in order to have a more useful and intuitive intellisense.

[2019-08-05 17:21] itsxallwater commented on #12
I wouldn't call it a preference by any means. I'm okay with saying your call on it. Thanks for putting in some work!!

[2019-08-05 17:48] andrewcole50 commented on #9
I took a little bit of time and went through JBC's docs and picked out the ambiguous function examples for functions I was familiar with. I've pasted the original and then my suggested replacements. I wanted to put these here so Mike would see them and can look them over and decide what to implement (if any) and to help get his gears working if some of my suggestions could be better.

[code]

[2019-08-06 03:53] itsxallwater commented on #9
I really like where you're going with this @andrewcole50! I'm going to bring this up internally because I think you've done a lot of fantastic legwork on this and it'd make a lot of sense for us to adopt.

[2019-08-06 14:37] andrewcole50 commented on #23
So I think I've got this debugging working, however none of the syntax highlighting is working. Where are those settings at so I can test the comments?

[2019-08-06 15:04] itsxallwater commented on #23
Are you modifying the existing MvLanguage.json and mvon.tmLanguage.json files or did you introduce new ones? If new, you'll want to search out and replace the references to both of those files with yours. The former is set in server/src/server.ts, the latter is set in the package.json files.

If you haven't done so since making your mods, you'll want to take care to run `npm run compile` again.

[2019-08-06 18:03] andrewcole50 commented on #23
I've got it now. Do you need to assign the bug to me in order for me to perform a push? Here's the results of my modifications:
![comments-fixed](https://user-images.githubusercontent.com/1955734/62564379-b11fef80-b852-11e9-82e1-83a0428f4521.JPG)

[2019-08-06 18:34] andrewcole50 commented on #23
I'm not sure assigning really did anything. I think I submitted my changes...I'm still rather new to git...

[2019-08-06 18:38] itsxallwater commented on #23
Yep sorry, just got off a call with the team. As an external contributor to this what you'll want to do is fork the repository into your account, so you'll end up with something https://github.com/andrewcole50/mvbasic. You would clone that to your dev machine, make your changes, commit and push them back up to your repo, then come here and create a Pull Request. When you do that, you can choose th

[2019-08-06 18:50] itsxallwater commented on #23
Note: Resolved by PR #25

[2019-08-07 04:41] itsxallwater commented on #23
PR accepted and merged, thanks @andrewcole50!

[2019-08-07 04:41] #23 closed

[2019-08-07 04:48] itsxallwater commented on #10
Assigning to myself but @mikes-zum is picking this up. As he's not commented in this issue he's not listed as an option yet for assignment.

[2019-08-07 11:51] andrewcole50 commented on #16
I can probably have this done within the week or at least make quite a bit of progress.

[2019-08-07 23:32] itsxallwater commented on #16
I'd definitely like to see what you have in mind!

[2019-08-12 14:42] andrewcole50 commented on #16
Pull request submitted. I'm sure various improvements/enhancements will be needed but the setup work is done.

One thing to note is how to handle optional arguments for functions and statements.

[2019-08-12 14:47] andrewcole50 commented on #17
Pull request submitted. I'm sure various improvements/enhancements will be needed but the setup work is done.

One thing to note is how to handle optional arguments for functions and statements.

[2019-08-21 02:48] JeffTeter commented on #12
itxallwater,

I have the "UniVerseLanguage.json"

 file wrapped up. Sorry for the delay. I'm a bit unclear on the use and syntax for the "UniVerse.tmLanguage.json" file and could use some help on it... Suggestions?

[2019-08-21 02:52] JeffTeter commented on #19
Just out of curiosity, does VSCode support language snippets and separate snippets for the user/company. For instance, in the sample snippets file, I have seen a program skeleton but my organization has a different format for program skeletons. So, should I anticipate modifying the general UniVerse snippets or is there an option for having a separate user file?

[2019-08-22 00:48] itsxallwater commented on #19
Hey @JeffTeter, in short, yes there is some capacity and our intention is for a user supplied file to overload any defaults. So you wouldn't have to delve into modifying the extension's internal files and instead, could configure a file for the extension to consume to perform the overload.

[2019-08-22 00:51] itsxallwater commented on #12
The best thing to do, to visualize things, would be to create (if you haven't already) a sample UniVerse BASIC program with all of the syntax you would like to test. When you load that file up in VS Code and use the MVON# language definition, it will do the highlighting based on the mvon.tmLanguage.json file. Then, you can modify the existing mvon.tmLanguage.json file to tweak the highlighting as

[2019-08-22 03:51] JeffTeter commented on #12
Thanks for the response. I'm playing with that now and hope to learn the
finer points. I think I have the language file set up. Do these
configuration files get "baked into" the distribution package?

Have a great night!

Jeff

On Wed, Aug 21, 2019 at 7:51 PM Mike Wright <notifications@github.com>
wrote:

[2019-08-23 16:45] itsxallwater commented on #12
They will indeed get baked in, great question :)

[2019-09-01 03:29] #16 closed

[2019-09-01 03:29] #17 closed

[2019-09-01 03:29] #18 closed

[2019-09-01 03:29] #19 closed

[2019-09-01 03:29] #20 closed

[2019-09-01 05:38] itsxallwater commented on #8
I'm going a different direction with this. The latest LSP example from Microsoft has cleaned the architecture up for the project so I'm working on porting our code to it. A lot of the white noise that results from compilation has been reduced, which is actually what is causing the need for the change listed in the ticket. TL;DR cleaning out code to fix the issue rather than introducing more code t

[2019-09-03 18:02] JeffTeter commented on #12
Mike, I have the language file done, I believe, along with the "UniVerse.tmLanguage.json" file. What's the next step? Thanks!

[2019-09-03 19:21] itsxallwater commented on #12
Hey Jeff, that's exciting and awesome news! Check out https://github.com/mvextensions/mvbasic/issues/23#issuecomment-518792959 which has some info on creating a fork of the project and submitting a pull request. Since you're an org member you may be able to create a branch here and submit a pull request using that, but if you're more comfortable it's acceptable to fork it and go that route.

[2019-09-03 19:23] itsxallwater commented on #12
I should add that if you want to go the branch route, you can follow along with what I've done for #8 and pull request #28 to get a sense for how that works.

[2019-09-06 22:34] TonyGravagno opened #29 "[FEATURE] Collaboration Forum"
Please designate a collaboration / discussion hub where we can exchange notes about this project. Q&A's and project planning aren't suitable for GitHub "Issues".
I recommend one or more of the following:
1) https://groups.google.com/d/forum/mvdbms
2) https://mvtalk.slack.com
3) https://gitter.im/mvextensions/mvbasic (doesn't exist yet)

All such media should be documented in repo README.md files.

[2019-09-06 22:47] #22 closed

[2019-09-06 22:48] itsxallwater commented on #22
Name changes have been pushed to master. Thanks @CharlesBarouch!

[2019-09-07 01:12] itsxallwater commented on #29
@TonyGravagno are you also @MVDBMS-Solutions? Otherwise this is indeed ironic timing and there's some parallel discussion happening under #30.

[2019-09-07 01:13] MVDBMS-Solutions commented on #29
Yeah, I'm just spinning up MVDBMS Solutions as a new business. :)

[2019-09-07 01:14] TonyGravagno commented on #29
Um, confirmed. ;)

[2019-09-07 01:15] itsxallwater commented on #29
Shoot me an email at mikew AT zumasys.com and I'll share a pre-release version of this extension I just generated this afternoon. We're gearing up to finally deploy this thing and I'm a) happy to see more community participation here and b) equally happy to share a copy and have you help test things out, if you'd like.

For the most part it is just name changes away from MVON#, etc. but it does in

[2019-09-07 01:56] itsxallwater commented on #29
Sorry to co-opt this thread as far as an advertisement on the pre-release installer for this, but I ended up creating a shareable link so check out https://zumasyscorp-my.sharepoint.com/:u:/g/personal/mikew_zumasys_com/EWF-JqocPylBiVZ8R8fJDqgBHt8xNg_NbQHlYLOJ7rLm6g?e=66oGdW if you want the download. To install you need to go into VS Code -> Extensions -> "..." -> Install from VSIX and then pick th

[2019-09-09 18:33] andrewcole50 commented on #29
I've used it some today and specifically testing jbase snippets. Renamed the default to snippets-stock.json and snippets-jbase.json to snippets.json to try it. This brought something to light in regards to language syntax vs snippets. Referring to the attached image, in the suggestions box I see the snippets below another OPEN that has no info to it. Does that come from the language syntax files?

[2019-09-09 21:32] itsxallwater commented on #29
Yep, one comes from the language definition and the other comes from the snippet definition. Without changing to incorporate your expanded snippets definition you can see how that plays out using "sub" since the base extension has a language definition for "sub" and also provides a snippet for it.

At the moment I'm not aware of a nice way to merge the two but if I'm being honest, I haven't been a

[2019-09-17 21:08] TonyGravagno commented on #29
@andrewcole50 wrote:

Completely different topic for a different issue/ticket...

[2019-09-17 21:20] andrewcole50 commented on #29
Just replying to my mention...

[2019-09-17 22:19] itsxallwater opened #31 "[FEATURE] Add jBASE Dynamic Objects Language Syntax"
**Is your feature request related to a problem? Please describe.**
Currently, the `Syntaxes\MvLanguage.json` file contains MVON# Basic syntax. Ticket #9 addresses jBASE Basic syntax, but we are also looking to include jBASE Dynamic Objects syntax out of the box to have available as an option within the extension.

**Describe the solution you'd like**
An acceptable pull request for this issue would

[2019-09-19 16:10] #8 closed

[2019-09-19 16:12] itsxallwater commented on #12
Closed by #32

[2019-09-19 16:12] #12 closed

[2019-09-19 16:16] itsxallwater commented on #29
@TonyGravagno I've accepted your merge request, #30, so thanks for your patience on that. I also added you to the readme as a contributor. Would you concur this is ticket can be closed now?

[2019-09-19 16:36] patrickp opened #33 "Variable Format feature confusing VS code auto quoting"
Pick offers a format feature on a variable to force output syntax.

Example:
PRINT OUTPUT"MR(#10)"

This will format the output to 10 characters and right justify.  VS code really doesn't like this and the feature that auto closes quotes for you jumps in and adds another quote.
PRINT OUTPUT"MR(#10)""

Not sure this can be resolved inside our plugin or it is a deeper issue.  Right now you have to f

[2019-09-19 18:03] MVDBMS-Solutions commented on #29
Thank you very much, but not yet.

With regard to the discussion about IM/chat, a Gitter channel hasn't yet been setup for this repo. This can only be done by a maintainer of a repo (possibly only the owner). I recommend that we create that channel, remove that note from the ReadMe.

Why recommended? It's possible that someone who wants to discuss the code in this extension is not registered in th

[2019-09-19 18:10] itsxallwater commented on #33
I've replicated and it seems to stem from not having the space between OUTPUT and the quote, i.e. the editor is not seeing that we're opening up a quoted string though it does after a ). I believe this is fixable on our end. Note that now that we have several syntax definitions, each will likely require a patch.

[2019-09-19 18:24] itsxallwater commented on #29
Thank you sir. Setup https://gitter.im/mvextensions/community, updated the readme for that link and made the contribution change per your request!

[2019-09-19 20:04] MVDBMS-Solutions opened #34 "[BUG] README.md invalid links from @mentions"
The links related to @ mentions are no longer valid. Fix it in my fork.

[2019-09-19 20:07] itsxallwater commented on #34
Accepted :)

[2019-09-19 20:08] MVDBMS-Solutions commented on #34
Damn you're fast! :)

[2019-09-19 20:08] #34 closed

[2019-09-19 20:25] MVDBMS-Solutions opened #36 "[FEATURE] Create VS Code Marketplace page"
When this updated project is ready for public beta, a new extension page should be published and linked to this repo.

tags: MultiValue, MVDBMS, BASIC, MVBASIC, Pick
categories: Programming Languages, Snippets, Linters

To be discussed : Who manages = publishes the extension? ONgroup? Zumasys? Other?

[2019-09-19 20:39] MVDBMS-Solutions commented on #15
It sounds to me like you're saying a snippet should be used as a guide so that the linter regards the snippet as a rule for checking app code conformity. Change the snippet and there's no need to create a separate rule for linting.

Is that accurate?
Is there an example of this for any other language?

That would be cool to use as a model - but I'm doubtful that we'll find this. From what I've see

[2019-09-19 20:41] MVDBMS-Solutions commented on #11
Please assign to me. Thanks.

[2019-09-19 21:59] itsxallwater commented on #36
Just a touch to say yes, definitely that will happen. Also as it pertains to the publishing, a mixture of all of the above. We've got the organization registered with Microsoft with a number of people added and set to be able to publish. That said, if I had to guess, I'll be the guy driving for a bit.

We're targeting a publish by the beginning of next week. @dthiot is just cleaning up a final few

[2019-09-19 22:01] itsxallwater commented on #15
Honestly @GrantHart is in progress on it which is why the ticket was memorialized. He's got the inside track on it. You have the short of it right though, that his idea and model would have the snippet dynamically impact the linter.

[2019-09-23 22:07] MVDBMS-Solutions opened #38 "[FEATURE] Auto-detect and set BASIC language"
Other languages rely on a file extension to determine the language. With BASIC we have no such common conventions. Examples:
- foo.java
- bar.cs
- baz.php

This is a proposal to auto-detect BASIC code.

There are two ways that I know of which can be used.

First, when the workspace includes a recognized file, it can trigger the activation of an extension. So if we include a file like ".mvbasic", t

[2019-09-23 22:38] ianmcgowan commented on #38
95% of what I edit are Basic files, so my settings.py has:

    "files.associations": {
        "*.py": "python",
        "*.sql": "sql",
        ".txt": "plaintext",
        "*": "mvon"
    },

So if it's not explicitly something else, for me it's BASIC ;_)  It's also a quick "Ctrl-K M, mv ENTER" away too, usually after the first save...

I would prefer cluttering the workspace with an extra file

[2019-09-24 16:14] MVDBMS-Solutions opened #39 "[BUG] Documented Goto/Peek is not working"
Goto/Peek does not seem to be available. Tried with both numeric and alpha labels.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new file.
1. Paste in BASIC code that includes a GOSUB and a label.
1. Right click on the label in the GOSUB

**Expected behavior**
Context menu option to jump to label

![image](https://user-images.githubusercontent.com/41167191/65529734-8b56b480-deab-1

[2019-09-24 16:19] MVDBMS-Solutions opened #40 "[BUG] Save to local file system forces .bas file extension"
Attempt to save file to local file system. It seems to include the option to use any filename. With or without periods in the filename itself, ".bas" is always appended to the end.

The filename must not be altered from user specification.
![image](https://user-images.githubusercontent.com/41167191/65530147-41ba9980-deac-11e9-8db0-7845b31237d8.png)

Files without an extension should be allowed:
![

[2019-09-24 16:32] MVDBMS-Solutions opened #41 "[BUG] Syntax checking for not working"
The Features documentation says:

Syntax checking does not seem to be enabled by default. Note in the screenshot that there is lots of invalid syntax but no squigglies or other error indicators.
Does the code need to be compiled, and server output returned to the client before syntax issues are flagged?

![image](https://user-images.githubusercontent.com/41167191/65531059-eee1e180-dead-11e9-93c1-5

[2019-09-24 16:38] itsxallwater commented on #39
For me this appears to be tied to the program not being saved to disk. As soon as I save it, the context menu items show up. Up until that point, they are missing.

I believe this is addressable though and that we can initialize the language server for both items in memory and on disk. That would also solve for intellisense not loading until you start typing in the document.

[2019-09-24 16:41] itsxallwater commented on #40
Replicated. This should be addressable as well, and may be linked in some capacity to what happens with default/standardized extensions (in discussion at #38).

It's not ideal but I've observed that at the moment, if you wrap the file name in quotes it will not append `.bas` to the end.

[2019-09-24 16:43] itsxallwater commented on #36
We're officially published at https://marketplace.visualstudio.com/items?itemName=mvextensions.mvbasic. As you may notice, the extension's page is a replication of the readme. I'm going to re-org some of the order of it, as it doesn't make sense to have the dev notes up at the top.

[2019-09-24 16:44] MVDBMS-Solutions commented on #36
This ticket was purely about creating the page. That's been done. This ticket is closed. Thanks guys!

[2019-09-24 16:44] #36 closed

[2019-09-24 16:45] itsxallwater commented on #41
The language server doesn't fire up until you begin to make edits to the document, which is a thing we'd definitely like to change (to fire on load). Can you confirm that if you start typing something in, you'll see the linting, etc. begin to go to work?

[2019-09-24 16:50] itsxallwater commented on #38
Re: the dialect/flavor selection, see #14. The idea at the moment is to make the flavor selection a configuration setting for the extension, which would mean you'd be free to set globally or at the workspace level. The big impediment at the moment is that some of the language specification occurs within the `package.json` file and we'll need to find a way to extract that to the `server.ts` to load

[2019-09-24 16:51] itsxallwater commented on #24
@JeffTeter now that we've published the version in this repo it'd be good to have you re-test, using this extension.

[2019-09-24 16:53] frostyjhammer commented on #38
FWIW: There are a handful of **BP** files in our application, and it was easy to add their names and associations to the `files.associations` section of my `settings.json` file. This way I don't need extensions on the BASIC program file names and I don't have to associate all files without extensions to mvbasic.

[2019-09-24 17:02] itsxallwater commented on #9
Changes have been incorporate and will be promoted in next publish to the marketplace.

[2019-09-24 17:02] #9 closed

[2019-09-24 17:18] MVDBMS-Solutions commented on #41
I'm creating new files, adding some code, and saving. I have not installed the MVGateway, and am not using a workspace, just individual files. I have not attached to any server or other process, just installed, set the language, and started poking at the editor.

Is the gateway required to access a MV server in order to provide the features?

[2019-09-24 17:24] itsxallwater commented on #41
Re: the gateway, no, I don't have it installed either. I'm working totally disconnected and doing a similar thing in creating new files, adding code, saving and it's at that point where I see the linter pick up and start highlighting errors.

[2019-09-24 17:30] MVDBMS-Solutions commented on #41
On reload after installing v2.0.1 it started linting up a storm.
I recommend the Readme for installation via VSCode include a note that (for now anyway) a VSCode reload is required on any installation or update.

[2019-09-24 17:40] itsxallwater commented on #41
Glad to hear it, and duly noted. I agree re: the note for the readme and added a line into the install section. I'll be curious to see if future updates require the reload, I noticed it when mine updated and that's counter to how most extension updates are working these days. I know they've done a good job in reducing the amount of times the editor needs to be reloaded, so it'll be interesting to

[2019-09-24 17:41] #41 closed

[2019-09-24 17:42] ianmcgowan commented on #40
This changed in VSCode at some point.  If you open a file with no extension it will happily save without.  But if you start a new file you need to select "No Extension" as the filetype (and then you'll need to select the language again ^K M MV).

![image](https://user-images.githubusercontent.com/408975/65536252-e8f0fe00-deb7-11e9-8db6-43c7e4e98fc7.png)

[2019-09-24 17:44] MVDBMS-Solutions commented on #39
This was resolved after updating to v2.0.1 and reloading. Per #41, the reload is what triggered linting functionality.

[2019-09-24 17:44] #39 closed

[2019-09-24 17:59] MVDBMS-Solutions commented on #38
Hand-crafting file.associations is a one-off solution, can't be a standard. If that's the solution, we can write a program that loops through a BP file to generate a huge JSON config.

When VSCode loads a file, it fires an event on the TextEditor object, passing the document and its ID as parameters. Using these we/I can code different kinds of logic and then users can select their choice of file

[2019-09-24 18:43] JeffTeter commented on #24
Will do... I already have it loaded... Thanks!

On Tue, Sep 24, 2019 at 11:51 AM Mike Wright <notifications@github.com>
wrote:

[2019-09-24 19:29] frostyjhammer commented on #38
@MVDBMS-Solutions  Wrote,

The config file just needs the names of the BP Directories (in Pick-speak, files) not the names of the Pick records (linux file names) -- I hope that's clear.

[2019-09-24 19:45] ry4nolson commented on #40
i think this is just the way windows works. If there is a type selected, it appends that extension. Notepad does the same thing.
https://i.imgur.com/cqKTODR.gifv

[2019-09-24 20:04] MVDBMS-Solutions commented on #40
@ianmcgowan I just searched for VSCode and Electron issues, found the answer you cited amongst many notes posted over the years on this topic, went back into VSCode to get a screenshot, and .... you already have it. HAHA Good man!
Thanks all. Problem solved. Not an issue with this extension.

[2019-09-24 20:04] #40 closed

[2019-09-24 20:20] MVDBMS-Solutions commented on #11
Looking at this. Going to ~~rip off~~ follow the pattern of the awesome model established in https://github.com/mvextensions/mvbasic/commit/8335ac3febbd69124a3b0ce67291e372e0f614c4 and discussed in #9.

[2019-09-24 21:07] itsxallwater commented on #38
Just a note that I edited the above post to fix a formatting issue with the block quote. The quote and reply should display better now.

[2019-09-24 21:07] itsxallwater commented on #5
No repro on this, closing the ticket.

[2019-09-24 21:07] #5 closed

[2019-09-24 22:07] dthiot commented on #38
As mentioned previously, this is configured in the workspace and a default can be applied to ALL files that are opened without an associated file type.  As an example, the workspace configuration would have the following:
"file.associations": { "*": "mvbasic"}

as covered in section 5.9 of the documentation.  The current revision of the documentation still refers to mvon as the extension type but

[2019-09-25 15:59] TonyGravagno commented on #38
That's a good option for those who want it. But I open a LOT of files outside of MV that don't have standard extensions, and I do NOT want them linted as mvbasic by default.

This extension needs to be a friendly citizen in an ecosystem of other extensions and developer preferences. It should not assume that all development is MV-centric. So really, it should not load immediately as a global exten

[2019-09-25 16:01] MVDBMS-Solutions commented on #38
That's a good option for those who want it. But I open a LOT of files outside of MV that don't have standard extensions, and I do NOT want them linted as mvbasic by default.

This extension needs to be a friendly citizen in an ecosystem of other extensions and developer preferences. It should not assume that all development is MV-centric. So really, it should not load immediately as a global exten

[2019-09-25 16:04] #21 closed

[2019-09-30 22:04] chiavegato75 opened #42 "Right Click -> Go to Definition & Peek Definition not working properly"
When using remote SSH plugin in visual studio code and right click+CTRL to peek and see definition the mvbasic extension is not able to resolve the correct path for the peeked file and errors out.

Steps to reproduce the behavior:
1. Open remote SSH
2. Open BASIC program using mvbasic extension
3. Open file that has references to other BASIC programs (CALL). Those programs need to be on a differen

[2019-09-30 22:46] MVDBMS-Solutions opened #43 "[FEATURE] Simplify/Standardize DBMS Connectivity"
There is some confusion and stability questions about the mvGateway. While it was a fine first effort, I'd like to take a shot at providing an alternative connection method between VSCode and any MVDBMS.

Each MV platform has its own connectivity options. Examples include QMClient, MVSP, UOJ, and UO.NET. For our purposes I think it would help to have a single API for all platforms. Rather than wri

[2019-09-30 23:12] itsxallwater commented on #42
I've got this repro'd as well

[2019-09-30 23:13] itsxallwater commented on #43
I'm for it! I like those guys and we've had some conversations about possibly getting them involved here, going back to the most recent Spectrum, so I think this would be a nice inroad.

[2019-09-30 23:23] itsxallwater commented on #43
There's another consideration here too, perhaps, and that's that @GrantHart and @pschellenbach are working out a standardized REST API to use for the comms/connectivity layer as an alternative to the gateway. Could be a good opportunity to help those guys out if you want to get involved in that effort!

[2019-09-30 23:29] MVDBMS-Solutions commented on #43
Thanks for the support. I asked their permission to make this proposal so you now have their answer. I'll serve as their liaison with this project. :) They have offered full support for any product tweaks that we might find of value with this initiative.
I've created a [project board](https://github.com/MVDBMS-Solutions/mvbasic/projects/1) to document my progress.

About the REST API, that's exact

[2019-10-01 00:00] pschellenbach commented on #43
@MVDBMS-Solutions - issue #7 has some discussion of the REST file system API we have been working on. I believe the current gateway is implemented as a REST server acting as a middleware for native connection interfaces like QMClient. I am currently working on a compatible REST file system server for AccuTerm, which in the end I hope will provide an easy migration path for wED users to move to VSC

[2019-10-01 04:13] dthiot commented on #43
While I don't have issues with more connectivity options, the problems that I have seen so far have very little to do if anything with MVGateway.  I know that the gateway has been installed on a large number of systems as the MVON# extension without significant problems.  I don't think we overreact to a couple of problems with the gateway and suggest that it isn't stable.  I think that you will fi

[2019-10-01 05:00] ianmcgowan commented on #43
I haven't been able to successfully connect using the gateway for Unidata, and have futzed around quite a bit without success.  Dick's document is very helpful, but when it doesn't work there doesn't seem to be much logging or tracing available.  I haven't been able to get any logs showing up in c:\temp for example.  On the plus side, it's motivated me to install the extension so debug mode is ena

[2019-10-01 05:25] ianmcgowan commented on #13
I'd like to take a stab at this - I know Unidata, but not javascript or the internals of VSCode.  Many (but not all) of the Unidata keywords will be similar to Universe and HELP.FILE can be reviewed to jump start the effort.

[2019-10-01 15:29] dthiot commented on #43
Ian,

Unidata is the one system that I have not connected the gateway to although I believe that Grant has.  I would be happy to work with you to resolve the problems you are experiencing.  I would like to understand the problems you are having.  Please contact me directly at dthiot@mavsys.com<mailto:dthiot@mavsys.com> or 214-727-1363 so that we can plan a time to do a teleconference.  Where are y

[2019-10-01 16:10] MVDBMS-Solutions commented on #43
I take Dick's point about not rushing to alternatives. It seems to me that the gateway is closed source, and if it's going to be a blackbox roadblock then I think an alternative (not replacement) would be desirable to some. Yes, Grant could FOSS the gateway but that becomes another component to be maintained as a part of this project. Yes, Linkar is proprietary and will never be FOSS, but it's wel

[2019-10-01 16:12] MVDBMS-Solutions commented on #43
@pschellenbach Every time I open WED now, I think the forward path there is to have AccuTerm open VSCode. We should definitely coordinate to ensure the REST interface (that's the front-side) uses a new common DAL API. With that, a user/developer should still be able to use VSCode from AccuTerm without being locked to the MVGateway.

[2019-10-01 16:44] dthiot commented on #43
I am very open to options and I believe that options make the product better.  I just wanted to make sure that we weren’t abandoning one option for another.  We could also bring Bluefinity’s mv.NET into the mix too.  The major benefit that I see with Grant’s MVGateway is that it is a simple, single purposed application that is much less complex.  If all you want is connectivity to your MultiValue

[2019-10-07 10:23] danielkleinad opened #45 "[BUG] - Auto-formatting failing to align nested "end else""
Here is an example of where the second `end else` should have been outdented.

[code]

[2019-10-07 14:35] nlehman06 commented on #12
So if I wanted to use this language syntax, along with the UniVerse snippets, what steps do I need to take?  Currently, when I install this extension and change the language to mvbasic it is just using the MVON language and snippets.  My workaround is to update the package.json for the extension and point to the UniVerse destinations for the tmlangauge and snippets.  Is there a better way?

[2019-10-07 17:35] itsxallwater commented on #12
Hey @nlehman06 that'll get you most of the way there but honestly it may be easier to rename the files, as there are three in total and while two are controlled in the `package.json` file, the third is controlled in code for the language server.

`UniVerseLanguage.json` to `MvLanguage.json`
`UniVerse.tmLanguage.json` to `mvon.tmLanguage.json`
`snippets-universe.json` to `snippets.json`

The idea i

[2019-10-10 20:52] kpowick commented on #45
While not a fix, you can get the formatting to work if you remove the semicolon/comment that follows the `end else` in your code example.

`end else ;* we have just the device name`  <-- Formatting fails.  Remove comment

`end else` <-- Formatting works ok

[2019-10-21 20:15] jtillia opened #47 "[FEATURE] D3 - Customize the Compile command"
We would like to execute the "Compile" verb instead of the "Basic" verb as an option

We would also like to add the flash compile option to the Compile verb  (o

Another option would be to add the catalog option to the command

we typically do   Compile-Catalog %filename% %itemname% (O

Reference: D3/Windows Version 10.3

[2019-10-30 22:09] jtillia opened #48 "[BUG] mvGateway"
**Describe the bug**
we cannot save our work to D3 database item. It shows saved in the editor but is not on the server.
This works sometimes and other times not.  It seems that once an item is not being saved, I cannot make it any time in the future.

**To Reproduce**
Change a line of code and Ctrl-S

**Versions of applicable software**
Detail on the versions of any and all pieces of software tha

[2019-10-31 18:18] garoke opened #49 "[BUG] /* comments are not being recognised as comments"
Comment prefix /* is not recognised by syntax linting and highlighting

**To Reproduce**
Comment any code line by prefixing with /* or highlight a block of text and press Ctrl+/

**Expected behavior**
Code prefixed with /* should be colored in the same way that lines commented with the * prefix are.
Code prefixed with /* should be excluded from linting rules

[2019-10-31 19:01] dthiot commented on #49
garoke,

Thanks for your input.  What flavor up MultiValue database supports /* */ for block comments?

Thanks,
Dick Thiot

From: garoke <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Thursday, October 31, 2019 at 1:18 PM
To: mvextensions/mvbasic <mvbasic@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [mvextensions/mvbasic] [BU

[2019-10-31 19:02] dthiot commented on #48
jtillia,

Thanks for your input.  We will look into this and see what we can do.

Thanks,
Dick Thiot

From: jtillia <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Wednesday, October 30, 2019 at 5:09 PM
To: mvextensions/mvbasic <mvbasic@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [mvextensions/mvbasic] [BUG] mvGateway (#48)

[2019-10-31 19:13] garoke commented on #49
HI Dick,

None that I'm aware of. The commenting I refer to is the /* line commenting prefix. Highlighting a block of text and using the comment command prefixes all lines with /* it doesn't wrap the block in /* */

E.g.

/* IF SUCCESS THEN
/*    CALL DO.STUFF()
/* END

The prefixing with that character doesn't appear to be a problem when compiling etc. rather it's the fact that linting and hightl

[2019-10-31 19:26] dthiot commented on #49
Gary,

I understand that the linter is the problem and I greatly expanded on the concept of your comment because I have wished for many years to have block comments supported by the MV compilers.  I can see how /* could be a valid comment, I just haven’t run across that before.  Which vendors support that?

Thanks,
Dick

From: garoke <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply

[2019-10-31 19:57] itsxallwater commented on #49
@dthiot As it turns out we may actually support this within jBASE (I've not verified yet); however, what Gary is saying is that when using the extension, if he uses the VS Code shortcut for adding a block comment the extension is using /* rather than * or !. That would be something under our control.

Bonus points on this will be if it turns out jBASE does support it, we can amend the jBASE langua

[2019-10-31 20:00] itsxallwater commented on #49
Sorry I also understand that might not be immediately clear given the original post, I've got an inside track on this as Gary's with one of our clients and we were chatting on this on the phone earlier :)

[2019-10-31 20:06] dthiot commented on #49
Mike,

I understand now after Gary updated me what he meant.  Thanks for your comments too.

Dick

From: Mike Wright <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Thursday, October 31, 2019 at 2:57 PM
To: mvextensions/mvbasic <mvbasic@noreply.github.com>
Cc: Dick Thiot <dthiot@mavsys.com>, Mention <mention@noreply.github.com>
Subject: Re: [mvextensions/mv

[2019-11-05 14:31] KieranFleckney opened #50 "[BUG] Compile Basic Program command for Unidata"
I work on a Unidata system and found this extension which is great however cannot compile it.

When trying to compile a program using the "Compile Basic Program" I get an error.
![image](https://user-images.githubusercontent.com/57374898/68215183-b538e600-ffd6-11e9-82a7-0aa13bff66c0.png)

However if I use the Debug version it works.
![image](https://user-images.githubusercontent.com/57374898/68215

[2019-11-10 08:09] ianmcgowan commented on #50
Would you mind sharing your config for unidata? I’ve been struggling to get
it to work (despite help from Dick).  A working example may help pinpoint
what I’m doing wrong.

On Tue, Nov 5, 2019 at 8:40 PM KieranFleckney <notifications@github.com>
wrote:

[2019-11-11 16:24] KieranFleckney commented on #50
Hope this helps
[udtconfig.txt](https://github.com/mvextensions/mvbasic/files/3832213/udtconfig.txt)
Forgot to add that I'm running Unidata 8.2.1

I will try again on another server with a fresh copy of Unidata running also, to see if I can replicate it myself too.

[2019-11-11 16:28] dthiot commented on #50
Thank you Kieran.  I think that Ian was referring to your VSC Workspace config.

[2019-11-11 16:49] ianmcgowan commented on #50
That’s the one, thanks Dick!

On Mon, Nov 11, 2019 at 9:58 PM Dick Thiot <notifications@github.com> wrote:

[2019-11-11 21:10] andrewcole50 commented on #49
Related to this: comment syntax highlighting isn't working in the released version as it did for my last pull request regarding comments. I checked and scripts are all the same. I've been planning on looking into this and haven't had time lately. Also, this /* wasn't an issue until the official release as I use the keyboard shortcut for comments a lot and it was working fine prior to release.

[2019-11-13 09:14] KieranFleckney commented on #50
Oh okay, here you go.
[VSWorkspaceConfig.txt](https://github.com/mvextensions/mvbasic/files/3840292/VSWorkspaceConfig.txt)

[2019-11-20 17:45] ianmcgowan commented on #50
Thanks for this - helped figure out my problems.  The main one being not using a workspace in VSCode, and also not noticing MS Word smart quotes when pasting example configs from the document.  Rookie moves!

I'm able to compile and catalog, but for my application it has to be in mode P, not mode U, and the catalog should be direct not global.  Can't figure out how to tell the gateway that though.

[2019-11-20 18:29] ianmcgowan commented on #50
@KieranFleckney - try opening your program from Unidata in AE, and set "Unprintable characters shown" with "^".  I see that editing and saving is having a problem with line endings.  I'm on AIX so need a line ending of LF, and also a system used with Asian characters, so ^254 is not @AM on the server side.

[2019-11-20 22:42] WouterSchuchner opened #51 "[BUG] False Positive Undefined Label Error"
**Describe the bug**
See the screenshot.  I'm getting errors that say that the "remove.quotes" subroutine is not defined, yet it is defined.  The upper right pane shown in the screenshot shows the "remove.quotes" label line, and also shows a similarly formatted "get.id,format" label line.  No such errors are spit out for the "get.id.format" subroutine.

I have correct-on-save enabled.  If I remove

[2019-11-21 01:00] ianmcgowan commented on #51
It seems to be related to the subroutine name starting with "REM", which is
probably not a coincidence.  If you rename the sub to rmove.quotes all
errors go away and it shows up in the breadcrumbs at the top of the
screen.  There may be some over eager parsing for REM at the start of a
line being taken as a comment?

On Wed, Nov 20, 2019 at 2:42 PM WouterSchuchner <notifications@github.com>
wrote:

[2019-11-21 01:02] ianmcgowan commented on #50
For MvGateway, is there any tip to get it logging verbosely?  I'm sure it's something I'm doing wrong, but I haven't been able to get any logs out of it, ever.  I have the following in my workspace config, courtesy Kieran.

[code]

[2019-11-21 03:57] ianmcgowan commented on #13
After looking around at this, it seems like some kind soul has done most of the hard work already in this [snippets-unidata.json](https://github.com/mvextensions/mvbasic/blob/master/Syntaxes/snippets-unidata.json) file for Unidata.  Would it be ok to transform that data into UniDataLanguage.json?  The main thing missing is having different icons for different types of commands.

[2019-11-22 12:37] dthiot commented on #51
Thank you for reporting this.  I suspect that Ian is correct in that there is an issue with the parser for a line that begins with REM being a comment. You are more than welcome to download the source code and have a look if interested.  If not, just keep the reports coming and we will fix them as best we can.

Dick Thiot

From: Ian McGowan <notifications@github.com>
Reply-To: mvextensions/mvbasic

[2019-11-22 16:04] ianmcgowan commented on #51
I'd like to start doing development in the extension, and have done the
steps 1-6 on the "development setup", but the next steps are not that
obvious.  It would be awesome to have a "new developer" guide/cheat sheet,
that lays out the various areas and describes the overall architecture.
Since I'm brand new to javascript/vscode extensions, I'm keeping notes and
screenshots as things begin to come

[2019-11-22 20:19] patrickp commented on #38
I found a vscode issue discussing this issue.

https://github.com/Microsoft/vscode/issues/23873

It mentions a "firstline" feature that could probably handle subroutines and "defined" programs via line 1:  https://github.com/Microsoft/vscode/blob/2f76c44632b0d47ba97f66fbc158c763628e30b3/extensions/python/package.json#L13

Final references are to this issue: https://github.com/microsoft/vscode/issu

[2019-11-25 17:40] JeffTeter commented on #24
Mike, I think you sent me a follow-up on this recently. I have retested and I'm still not getting it to work.

The line inserted into my config file is:
		"MVBasic.customWordPath": "E:\\DATA\\VSCODE\\WORDS.TXT",

The file is called WORDS.TXT and it's located at "E:\Data\VSCode".  What string did you use to make it work? Thanks!

[2019-11-26 15:26] itsxallwater commented on #24
Heya Jeff,

Just gave this another shot now that we're re-released.

My `settings.json`:
[code]

My `WORDS.TXT`:
[code]

My `TEST.B`:
[code]

And how it all comes together:

![image](https://user-images.githubusercontent.com/13155413/69647281-6ce57480-1026-11ea-80e1-e087e9e78fad.png)

Let me know how it goes for you!

[2019-11-26 15:30] #10 closed

[2019-11-26 15:32] itsxallwater commented on #13
I think so, @ianmcgowan! If memory serves these came about via @andrewcole50.

[2019-11-26 15:39] andrewcole50 commented on #13
Yep that was me! Important note: I'm not a Unidata guy and everything was straight from the documentation. With that, I'm sure things could be worded better and there are probably more realistic examples that could be used.

[2019-11-26 20:24] itsxallwater commented on #14
Branch [14-add-configurable-language-syntax](https://github.com/mvextensions/mvbasic/tree/14-add-configurable-language-syntax) has a working version of this that will load the language definition file depending on the language type selected in the Extension's configuration. Pictured below is the setting, with some messages visible in the output channel for the MV Basic Server.

![image](https://us

[2019-11-28 19:26] KieranFleckney commented on #50
@ianmcgowan Yeah I add them in the config, however couldn't get it to log anything.

Yeah I saw that Line ending issue too but didn't know if that was an issue with my enconding type?

In regards to the compiling using type P and Direct I couldn't find a way either, don't believe it possible even config it to do that. Was gonna open that in an another issue.

[2019-12-03 18:26] ianmcgowan commented on #50
I setup a developer/personal edition of UD on a redhat instance with
standard delimiters, and can confirm I'm getting exactly the same behavior
as you.  So it's not just the language group ID causing the problem (though
that is a different problem with the MVGateway - it is hardcoded for AM =
CHAR(254)).  I think this is an issue with the gateway, but that's hard to
dive into.

For my use case, it

[2019-12-04 15:13] itsxallwater commented on #14
If you're keen to check out these updates in advance, I've got a copy of the installer posted to https://zumasyscorp-my.sharepoint.com/:u:/g/personal/mikew_zumasys_com/EVSwBfkqFetKnRkGBNfFXXMBvVL_ITUsM7wYKeqHrBAArw?e=itOorL

[2019-12-04 15:16] itsxallwater commented on #14
Aggregating some notes here for the next chunk of work to sort out the dynamic syntax highlighting.

https://github.com/Microsoft/vscode/issues/68647
https://github.com/microsoft/vscode/issues/53885
https://stackoverflow.com/questions/56107128/dynamic-syntax-highlighting-in-vscode
https://github.com/Microsoft/vscode/issues/585
https://github.com/microsoft/vscode/issues/77133

[2019-12-05 23:10] ianmcgowan commented on #51
Submitted pull request to fix the regex handling for REM, both for formatting (mvon.tmLanguage.json) and validation (server.ts).  https://github.com/mvextensions/mvbasic/pull/55

[2019-12-18 09:56] KieranFleckney commented on #50
That's good you can replicated the issue. Can you even look at the Gateway code with out decompiling exe?
I have tried the map drive solution before however the compiling feature was really something I liked and made it easier.

Also did you find a solution to the Line ending issue?

[2019-12-18 17:00] mikes-zum opened #57 "[BUG] Cannot read property 'substr' of undefined -> Code: -32603"
Highlighting BASIC source code in both the stable and Insiders version of VS Code generates errors

**To Reproduce**
Use "Ctrl-A" on largest item being edited, or copy the path of one of the items being edited.
As expected, all lines of the item being edited are highlighted, and the path of an item is returned, but an error is thrown

**Expected behavior**
No error should be thrown with these oper

[2019-12-19 17:13] mikes-zum opened #62 "[BUG] Invalid "Missing NEXT statement""
**Describe the bug**
Missing next statement error generated on this line of code:

FOR I = 32 TO 127; OUT I; NEXT I ;* Printable chars

**To Reproduce**
Insert this line of code in VS Code

See error and "squiggle" underline

**Expected behavior**
Code should be accepted
**Screenshots**

**Versions of applicable software**
Windows 10
VS Code Insiders 1.42.0-insider
MV Basic 2.0.2

**Code samples a

[2019-12-19 17:16] mikes-zum commented on #62
![Exhibit#1](https://user-images.githubusercontent.com/52958459/71194086-3694c100-2283-11ea-82e5-e0a4a1032fcf.jpg)

[2019-12-19 17:19] mikes-zum commented on #62
I should also mention:

	},
				"MVBasic.languageType": {
					"scope": "resource",
					"type": "string",
					"default": "jBASE",
					"enum": [
						"MVON",
						"jBASE",
						"UniVerse",
						"OpenQM"
					],

[2019-12-19 17:47] kpowick commented on #62
It should probably just be a warning that, though valid,  this code is poorly written.  ;)

[2019-12-19 17:51] mikes-zum commented on #62
I am in the process of validating all of my jBASE documentation changes and in most cases also using the code examples from the same pages as the documentation.

The resulting source code may then be useful for (MVBasic) testing purposes .

[2019-12-20 07:38] ianmcgowan commented on #62
This is caused by validateTextDocument in server/src/server.ts.   This function is called whenever the document changes, and goes through line-by-line validating (as the name suggests :-)

For FOR/NEXT loops, it builds a cross-reference as it goes through the program, also incrementing a counter for each FOR and another for each NEXT.  If the counts don't match at the end, it goes through the cros

[2019-12-21 08:14] ianmcgowan commented on #62
I created a pull request https://github.com/mvextensions/mvbasic/pull/63 for a change to fix this - it works by splitting lines with embedded semi-colons into separate new lines.  That should help any linting errors with multiple statements on one line, but does have the unfortunate side-effect of throwing off the line number reported for the error.  Also improved the FOR/NEXT checking (I think),

[2019-12-21 16:19] kpowick commented on #62
@ianmcgowan Does this only apply to FOR/NEXT checking? i.e. The file is parsed in this new way only to calculate FOR/NEXT?

If so, does semicolon checking consider the implied "END" statement in single-line, multi-statement IF/THEN constructs?  Example:
[code]
The compiler interprets the above as:
[code]
I guess I would have a better idea of how this worked if I looked at the project code, but I h

[2019-12-21 20:29] ianmcgowan commented on #62
Shoot, @kpowick , that's a really good point.  No, this change is for all lines with substatements. The linter (w/this pull request), would treat that example as:
[code]
Which is ok from a linting perspective, but if there're ELSE's and END's in there may fall apart.

I probably need to add two test R83 basic programs: one with legal syntax but including as many tricky cases as possible, and anoth

[2019-12-21 20:55] itsxallwater commented on #62
I like the idea of adding additional test programs. You'll see we've started to do that under the tests directory, specifically for jBASE. By all means push a PR to add more! Will make all of this dev much easier, and at some point I'm hopefully to setup some automated testing that'll leverage them too.

[2019-12-23 17:18] mikes-zum opened #64 "[BUG] Leading, valid keywords not recognised in certain scenarios"
**Describe the bug**
In certain constructs, (leading) valid keywords are not recognised

**To Reproduce**
Steps to reproduce the behavior:
1. Enter the following code:
     LOOP
    	READT TapeRec FROM 5 ELSE
        	Reason = SYSTEM(0)
        	IF Reason = 2 THEN BREAK ;* done
        	CRT "Tape error"  ;  STOP
    	END
    REPEAT
2. Click on 'READT', "FROM", "ELSE", IF",CRT"
3. No intellisense s

[2019-12-23 19:18] kpowick commented on #62
Does the line number being thrown off affect only the specific For/Next error line, or does it throw off all subsequent error line reporting?  Just wondering how "ugly" it could get.

[2019-12-24 20:17] ianmcgowan commented on #62
It affects all subsequent lines, but I'm working on something to store the
original line number, and report that in the error.

https://github.com/ianmcgowan/mvbasic/blob/for_next_pull_2/tests/pick/R83GOOD.b

Is an initial test file (of things that are legal syntax), and it does seem
that linting is not thrown off by splitting lines, at least with my basic
BASIC syntax.

On Mon, Dec 23, 2019 at 11

[2019-12-26 18:07] ianmcgowan commented on #64
This looks like a mismatch between the MvLanguage.json and jBASELanguage.json intellisense support (READT is in the jBASE file. but not MVON).  Are you working with jBASE code?

If you change this line in server.ts from

`		filePath = filePath + path.join('../','../','../','Syntaxes', 'MvLanguage.json');`

To:

`		filePath = filePath + path.join('../','../','../','Syntaxes', 'jBASELanguage.json');

[2019-12-27 09:58] mikes-zum commented on #64
I was not aware of that setting, but changing it to "jBASELanguage"  has no effect.

I am editing the files directly rather than via any sort of connection, so I am not sure that it is relevant in this case, plus most things have worked fine so far, but this is one that I have been encountering for some time, both in the release version and the insiders version.

[2019-12-30 20:48] ianmcgowan commented on #64
Yep, changing it directly won't work unless you're running the extension in debug mode.  There's something coming to enable dynamically switching flavor/syntax, but in the meantime it seems like READT is valid syntax is almost all flavors, so adding it to the intellisense and format configs seems to make sense.  That will mean this isn't fixed until the next release though...

[2019-12-31 16:56] ianmcgowan commented on #64
It looks like https://github.com/mvextensions/mvbasic/blob/master/Syntaxes/MvLanguage.json is truncated - only 553 lines, vs thousands in the other three.  It may be that something went wrong when that syntax file was being generated.

[2019-12-31 17:38] itsxallwater commented on #64
If memory serves it has always been lighter than the others (could be an opportunity for expansion). I will say, if you happened to check the `original` branch you might've been left wondering where the heck the file was at the beginning. Initially, Grant had the definition inline in the `server.ts` file and early on in this project, he extracted it out into the `json` file that exists today to se

[2020-04-02 01:30] itsxallwater commented on #14
This is partially addressed with the release of version 2.0.4 and the addition of the Language Type setting as referenced in the docs here:
https://github.com/mvextensions/mvbasic/blob/1590634f06c9ce853a8660ea66fd3f2de22a4fe9/doc/Extension%20Guide.md#L274

Keeping the issue open as work is still necessary to complete dynamic syntax highlighting.

[2020-04-02 20:43] itsxallwater opened #76 "[FEATURE] Setup Extension Bundling"
**Is your feature request related to a problem? Please describe.**
Microsoft recommends [bundling Extensions](https://code.visualstudio.com/api/working-with-extensions/bundling-extension) especially for larger projects. We currently get a warning when running `vsce package` and `vsce publish` that we should consider it. This should be taken up as a performance improvement for the distribution of t

[2020-04-08 18:34] Nick2253 opened #77 "[BUG] Unable to resolve workspace folder w/ AccuTerm RestFS"
**Describe the bug**
When I connect to the AccuTerm RestFS server, I get an error "Unable to resolve workspace folder" when attempting to browse through my filesystem.

I am using AccuTerm 7 w/ the VSCode plugin as a bridge for MVBasic.  I am able to successfully launch VSCode using the VSCODE command in AccuTerm.

I'm pretty sure everything is talking, because if I launch VSCode using `VSCODE <Fi

[2020-04-08 21:27] itsxallwater commented on #77
Thank you @Nick2253 we're chasing this now

[2020-04-08 21:33] itsxallwater opened #78 "[BUG] Latest RestFS updates have broken the MVGateway connector"
**Describe the bug**
@dthiot caught an issue with the latest version (2.0.4) wherein the MVGateway connector no longer works.

**To Reproduce**
Skipping as Dick has walked @pschellenbach and I through and Pete's got enough info to chase.

**Expected behavior**
Should connect as previous.

[2020-04-08 21:36] itsxallwater opened #79 "[BUG] The formattingEnabled setting is not enabling/disabling auto-formatting"
**Describe the bug**
The extension contributes a setting called `MVBasic.formattingEnabled` which should enable/disable automatic code formatting when set to `true` or `false`. It is not currently impacting auto formatting.

**To Reproduce**
Steps to reproduce the behavior:
1. Toggle the setting between true and false.
2. Save code changes.
3. Witness the extension auto format your code.

**Expect

[2020-04-09 01:39] #79 closed

[2020-04-13 15:02] dreller2034 opened #81 "[BUG] Unable to connect to server"
** NOTE **
I submit it as a bug, but it could also be a setup error on my side in VS Code.  I am still trying to adjust my settings, will update this issue if I make it works.

**Description**
Get an error message when trying to open a new terminal to the server.

**To Reproduce**
Using this setup JSON:

"window.zoomLevel": 0,
"explorer.confirmDelete": false,
    "MVBasic.Account": "DEV",
    "MVB

[2020-04-13 15:15] dreller2034 commented on #81
Looks like MVGateway is Windows-only.

[2020-04-13 15:15] #81 closed

[2020-04-15 15:22] kpowick opened #82 "[BUG] Formatting adds spaces to blank lines within indented code"
**Describe the bug**
It seems that as of v2.0.4, the formatting feature is now adding spaces, as defined by the setting _"MVBasic.indent"_, to blank lines within indented code.  e.g.  Loops, If/Then, etc.

I noticed this when saving an existing program and my Git diff displayed the newly inserted spaces.

**To Reproduce**
Steps to reproduce the behavior:
1. In VS Code, enable View/Render Whitespac

[2020-04-15 22:50] itsxallwater commented on #77
Pete's got a path on this and we should have a fix incoming soon

[2020-04-15 22:51] itsxallwater commented on #82
Thanks @kpowick my guess is this related to some of the regex changes that were made so we'll start there, thanks for raising

[2020-04-16 13:57] pschellenbach commented on #77
I have identified at least one way that this error can happen. When the number of files in VOC / MD are more than the max items setting in the auto-created workspace VSCode shows this error status. You can edit the workspace template in the ACCUTERMCTRL file and change the max items to a larger number. @Nick2253  - could you give this a try and let me know? I modified the extension to show any err

[2020-04-16 14:32] dthiot commented on #77
Can we just limit the number of items returned from the select?  Lots of implementations implement SAMPLE in some form or another.  Does that make any sense?

From: Peter Schellenbach <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Thursday, April 16, 2020 at 8:58 AM
To: mvextensions/mvbasic <mvbasic@noreply.github.com>
Cc: Dick Thiot <dthiot@mavsys.com>, A

[2020-04-16 15:14] Nick2253 commented on #77
@pschellenbach That seems to be the issue.  When I changed it from the default of 250 to 2500, everything came right up.

[2020-04-16 17:20] Nick2253 opened #85 "[BUG] Unable to save files."
**Describe the bug**
When attempting to save a file, I receive an error from VSCode.  I'm using the AccuTerm VSCode bridge.

[code]

I'm not sure if it's related, but when I launch `VSCODE` in AccuTerm, I get the following error on my terminal.  However, I'm able to open files just fine, so it doesn't seem to be a communication error:

[code]

I have a Master key set up, so I'm not sure if that er

[2020-04-16 17:46] Nick2253 commented on #85
Further diagnostic info:

When I launch VSCode, I am able to freely browse through and open files.  Once I attempt to save, it's like I get kicked out.  I am then unable to browse or open files.

[code]

[2020-04-17 00:00] #77 closed

[2020-04-17 04:40] janvsc opened #86 "[BUG] Lots of errors in pop up in output screen"
As discussed with Richard Thiot:

I've been using your mvbasic extension from the beginning.
However a while ago I've been getting weird error messages 100+ every time I load large BP programs.
I am not connecting to any server AFAIK
Simply loading the program from a folder

Starts off like this:
![image](https://user-images.githubusercontent.com/6188515/79532151-9a0af000-80b7-11ea-86c1-1c2661f288

[2020-04-17 04:42] dthiot opened #87 "[BUG] Errors in Output"
There are hundreds of errors in the output window.  Final error is cannot read property split.  I was told that the errors did not exist in the MVON version.  See the following two screenshots.  I don't know how to attach files to this issue.
https://www.dropbox.com/s/jpy8vrgmvv6pc0i/Jan%20van%20Schalkwyk%20VSC%20Output%20Image%201.png?dl=1
https://www.dropbox.com/s/d4e49a8033ca6kl/Jan%20van%20Sch

[2020-04-17 04:43] dthiot commented on #87
Duplicate.  User submitted it himself.

[2020-04-17 04:43] #87 closed

[2020-04-17 04:46] itsxallwater commented on #86
Thanks for raising this! I have good news 😃

2.0.5 is about ready to drop on Monday and includes a fix for that console output. Those particular messages have been stripped entirely.

Additionally, by default you won't see any console/output channel logging, but the setting MVBasic.server.trace includes options to enable various levels in the event the extension needs to be debugged.

Overall you

[2020-04-17 04:49] itsxallwater commented on #86
@dthiot and anyone time that might be curious those console messages were introduced in 2.0.4 as part of the regex updates to the language server. That version shipped with improved for/next pair detection but the console output was left in by accident.

[2020-04-17 04:51] janvsc commented on #86
Looking forward to the new drop.
I will report back after installation :-)

[2020-04-17 04:53] janvsc commented on #86
Will Monday be Tuesday in Australia?

[2020-04-17 05:04] itsxallwater commented on #86
May depend on also shipping corresponding AccuTerm connector updates. In theory we could publish 2.0.5 now.

@pschellenbach let's catch up on this tomorrow in the event we could look to drop updates a bit earlier

[2020-04-17 05:41] ianmcgowan commented on #86
@itsxallwater, thanks for catching this, it was me leaving some debug output in the code by mistake.

[2020-04-17 05:46] itsxallwater commented on #86
All credit to Pete for the patch while he was adding some helpful debug messages for the connector and wiring them up to the server trace setting 😃

Does look like we might have a related thing to chase in #82 though.

[2020-04-20 18:55] kpowick commented on #82
I've added a PR for this, though you may have already covered it with what you're planning for issue #86.

[2020-04-20 19:00] itsxallwater commented on #82
Thanks @kpowick! Will peek and get things merged in here before we generate 2.0.5.

[2020-04-20 21:06] itsxallwater commented on #82
Merged, thank you sir!

[2020-04-20 22:35] kpowick commented on #11
@MVDBMS-Solutions  Any progress on this?  Do you have an ETA?

[2020-04-21 01:52] itsxallwater commented on #86
FYI 2.0.5 is live in the marketplace. Will get things release tagged here in the AM & Pete should also have his host program updates posted in the AM (Pacific).

[2020-04-21 16:26] itsxallwater opened #89 "[FEATURE] Document the File System REST API"
**Is your feature request related to a problem? Please describe.**
Now that there are two connection options using the File System REST API (MVGateway and AccuTerm), it would be good to add the API specs to the project for anyone else looking to customize a connector.

**Describe the solution you'd like**
A PR for this should include Postman or Swagger/OpenAPI specs for the File System REST API.

[2020-04-21 16:41] kpowick commented on #82
2.0.5 corrects the issue, so I'm closing it. I hope that is ok.

[2020-04-21 16:41] #82 closed

[2020-04-21 19:14] kpowick commented on #76
I think an effort should be made to reduce the size of the shipped/marketplace extension by omitting unnecessary folders from the bundling.

After doing a size analysis of extensions in my own `.vscode/extensions` folder, we can see that `mvextensions.mvbasic-2.0.5` is by far the largest at 140.3 MB.  That's 70% of all my extensions and almost 6 times larger than the next largest extension in the

[2020-04-21 20:20] janvsc commented on #86
Installed fine. Will test some more during the day.
Will raise a new request for some silly output errors

[2020-04-21 21:46] itsxallwater commented on #86
I'm fine for you to follow up here with any additional and we can continue to fine tune, if you like. Thanks for checking in!

[2020-04-22 00:35] janvsc commented on #86
Still getting 191 Problems reported and when I click on one of the problems to investigate.
The output starts filling up with 'split' of undefined Code: - 32603 messages

[2020-04-22 00:42] janvsc commented on #86
The so called problems are not problems at all.
Example:
REMOVE.ERR.LEGS is not defined as a label in the program MV bAIC [819,11]
Invalid GOTO or GOSUB

This is referenced twice as problems.

This is simply not true
The are two GOSUB REMOVE.ERR.LEGS in the program AND
The label does exist

There are 191 problems reported.
When I click on the first problem the output start reporting problems too.

[2020-04-22 01:45] itsxallwater commented on #86
Would you be willing to share your full program, or a simpler, abstracted version that still contains your problem?

[2020-04-22 02:17] dthiot commented on #86
Jan.

What does your label line look like?  Maybe the linter isn’t recognizing your label because of the way you have it constructed.  Obviously, the way you have done it works but the linter may not take your formatting of the label statement into account.  This is a stab in the dark as you may have a perfectly simple label.

Dick

From: Jan <notifications@github.com>
Reply-To: mvextensions/mvbas

[2020-04-22 02:51] janvsc commented on #86
I am willing to share the entire program but not in public. Who can I email?

@dthiot  - Nothing wrong with the label

**REMOVE.ERR.LEGS:**

All the labels in the entire program is in this format

[2020-04-22 03:00] janvsc commented on #86
Sorry. Tried to email the program but blocked by our Admin.

[2020-04-22 03:04] kpowick commented on #86
I've found and corrected the problem with labels being unrecognized if they begin with `REM`, as in Jan's label "`REMOVE.ERR.LEGS`:".

I will post the PR shortly.

[2020-04-22 03:06] kpowick commented on #86
I believe this will also solve issue #51

[2020-04-22 03:10] janvsc commented on #86
Also clicking on the error take you to the incorrect place in the program

[2020-04-22 03:21] janvsc commented on #86
Okay. managed to get a copy of the program.
Who can I email this to?

[2020-04-22 03:25] itsxallwater commented on #86
mikew AT zumasys DOT com if you'd like. I can test @kpowick's PR against it in the AM and we can publish the updates pretty quickly from there.

[2020-04-22 03:27] kpowick commented on #86
Just checking a few more things. I will post PR tonight.

[2020-04-22 03:41] janvsc commented on #86
Email sent to Mike. Have fun. Only 188 problems :-)

[2020-04-22 05:22] janvsc commented on #86
Also. when closing one program and opening another the output screen is not cleared.
Still shows all the output error from previous programs

[2020-04-23 06:33] janvsc commented on #86
The example I sent is one of the worst cases :-)
However I have several others that have the same problem

[2020-04-23 20:50] janvsc commented on #38
The solution is simple?
I overcome it by including the entire directory or BP file:

    "files.associations": {
        "**/*.BP/*": "mvbasic",
        "**/*.SB/*": "mvbasic",
        etc.

[2020-04-23 21:05] kpowick commented on #38
Yes, for many users that works perfectly well and is recommended.  My  own system is defined as:

`"files.associations": { "**/BP/*": "mvbasic"},`

However, the original proposal is some type of auto-detection based on either a set of adopted file extensions (.mvbasic, .d3, .jbase, .bas, etc) and/or the contents of the file being edited.  As discussed above, there are pros and cons.

[2020-04-23 22:51] ianmcgowan commented on #38
I do this the other way around - 90% of what I edit are basic files with no
extensions, and the other 10% do have an extension so:

    "files.associations": {
        "*.html": "html",
        "*.js": "javascript",
        "*.json": "json",
        "*.md": "markdown",
        "*.sql": "sql",
        "*.ts": "typescript",
        "*.txt": "plaintext",
        "*.yml": "yaml",
        "*": "mvbasic

[2020-04-24 03:03] kpowick commented on #86
@itsxallwater Is there any chance the sample program from @janvsc can be added to the `/tests` folder of the project?  If not, would someone please send me a copy?

[2020-04-24 03:16] itsxallwater commented on #86
I can send your way if @janvsc is okay with it. I think we'll have to avoid adding it to the repo though since it is their IP. If he gives the green light, just ping me at that zumasys address [above](https://github.com/mvextensions/mvbasic/issues/86#issuecomment-617526439) @kpowick.

[2020-04-24 05:39] janvsc commented on #86
You may send it to @kpowick. Please do not post public. I don't mind if it is shared with the devs only.

[2020-04-24 17:50] dthiot opened #95 "[BUG] $IFDEF/$ELSE/$ENDIF not recognized"
The terms $IFDEF/$ELSE/$ENDIF are not recognized by the linter as valid terms.  The ELSE in $ELSE is recognized but that isn't a surprise.

**To Reproduce**
Create a document with type MultiValue Basic and enter the following code:
$IFDEF Netbasic
$ELSE
$ENDIF

**Expected behavior**
Recognize these terms as valid statements.

**Versions of applicable software**
These commands may be platform-speci

[2020-04-24 17:59] kpowick commented on #95
If you mean the syntax highlighting, it should be an easy fix.

I'll add the escaped keywords to the syntax files like is done with \\$INCLUDE

[2020-04-24 18:52] dthiot commented on #95
Yes, I did mean the syntax highlighted.  My mind was 50% elsewhere.  I know what I was saying regarding the linter wasn’t quite right but I wasn’t paying enough attention to do anything about it.

From: Kevin Powick <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Friday, April 24, 2020 at 12:59 PM
To: mvextensions/mvbasic <mvbasic@noreply.github.com>
Cc: Di

[2020-04-24 18:54] kpowick commented on #95
And, of course, the fix is a little more involved than just adding the keywords.  I'm into it right now and hope to have a fix relatively soon.

[2020-04-25 00:20] itsxallwater commented on #51
@WouterSchuchner let's get together next week and I'll have you test against latest updates that are not yet published. Or if you want to just email me your code I'll take a peek :)

[2020-04-25 00:22] itsxallwater commented on #57
@mikes-zum I think I have this bug crushed but ping me next week and we can peek at it together.

![image](https://user-images.githubusercontent.com/13155413/80266338-284f1b00-8650-11ea-9239-2e00a98c0c8b.png)

[2020-04-25 00:26] itsxallwater commented on #62
This may be resolved now between latest + https://github.com/mvextensions/mvbasic/pull/94. Revisited some of the above samples and I'm no longer seeing any issues. @kpowick want to put eyes on this too?

[2020-04-25 00:27] itsxallwater commented on #89
Handing to Pete due to familiarity plus acknowledging his intention, though if someone else feels comfortable I'm sure he'd appreciate the help!

[2020-04-25 00:30] itsxallwater commented on #85
@Nick2253 would you happen to be the same Nick with an email thread going with @pschellenbach and I right now? If not, can you grab the latest AccuTerm Host Programs from:

https://zdownload.blob.core.windows.net/accuterm/Host-Programs/Windows/x86/8.0.7.0/pickbp.exe

After updating the host programs in your AccuTerm installation, use `MultiValue` -> `Host Programs` -> `Install` in your newly creat

[2020-04-27 14:55] kpowick commented on #95
@dthiot  PR #94 should close this issue.  A lot of important updates were made to that branch, so I'm guessing it will be merged into master soon.

What do you think about a merge into master @itsxallwater ?

[2020-04-27 15:19] kpowick commented on #64
I've made minor update in PR #94 that corrects indentation and syntax highlighting for this issue, but does not (yet) address the missing Intellisense.

[2020-04-27 15:45] Nick2253 commented on #85
I'm a different Nick.

I'm using AccuTerm 7.  Is it compatible with the Host Programs from AccuTerm 8?  Before I install the programs, I want to confirm so I don't break anything, since we have multiple developers relying on WED.

[2020-04-27 16:14] itsxallwater commented on #95
I'd like to get some peer review in on it plus there are a few older issues I think are handled by it too that were reported by some of my coworkers. I'm following up with them today to chase agreement/awareness.

[2020-04-27 16:16] itsxallwater commented on #85
Well then, pleasure to meet ya!

Yes, you are clear to use those host programs with 7. Looking forward to hearing how that goes for you. CC @pschellenbach

[2020-04-27 16:17] kpowick commented on #95
I've been going through older issues that are corrected by this PR and linking the PR to them.  On the open issues list, It makes it easier to see which ones still need attention.

[2020-04-27 16:23] itsxallwater commented on #95
Yes indeed and thank you for that, I was doing the same on Friday and I ended up assigning them to myself too. By all means feel free to do the same. I also just created this v2.0.6 milestone which you can tag them with.

[2020-04-27 16:26] kpowick commented on #64
I'll grab this assignment.  I'm working on it and would like to have it included in PR #94  for v2.0.6

[2020-04-27 19:36] kpowick commented on #64
This is  a strange one.  Using the keyword **CRT** as an example, Intellisense on hover only seems to work when the keyword is within a block as created by a structure like `IF/THEN`,  `LOOP/REPEAT`, etc.

Try the sample code below in the editor.
[code]

Before I try to dig through the code, do you have any insights @itsxallwater?

[2020-04-27 19:53] itsxallwater commented on #64
You're in luck, I noticed this while I was testing the package updates, clean up and bundling and I just about have a fix ready. Will include this sample code in the testing I'm doing.

[2020-04-27 20:03] mikes-zum commented on #64
If there is a leading space, then it should work. For instance if you use the BI option to format your code in jBASE, then you will not normally encounter this, But if you keep your code flush to the left margin, then you will certainly encounter it. I should also add they keywords in comments also generate "Intellisense"

[2020-04-27 20:06] itsxallwater commented on #64
Yes indeed, essentially had to do with some bad index tracking while it was parsing a line to determine the word being hovered. If the line started at index 0 it was chopping the first character off, so those CRT lookups were becoming RT. I've got that fixed just checking on a few other things before I commit into https://github.com/mvextensions/mvbasic/pull/94

[2020-04-27 21:00] kpowick commented on #64
D'oh!  Should have realized it was something simpler like a leading space, instead of being inside a block.  Thanks @mikes-zum @itsxallwater

[2020-05-01 05:23] janvsc commented on #49
I would prefer if the Block Comment chars can be specified and not default to \*
Perhaps in json settings for mvbasic?
In UniVerse I personally prefer a *

[2020-05-01 14:55] kpowick commented on #49
This setting can be changed by modifying the configuration file `language-configuration.json`, which is found in the folder `.vscode/extensions/mvextensions.mvbasic-2.0.6/client`

Open the file with a text editor and change the values for `lineComment` and `blockComment`  as desired.  Restart VS Code to enable your changes.

[code]

[2020-05-01 19:20] janvsc commented on #49
Works perfect even my a space. Used "***** "

[2020-05-05 08:09] janvsc commented on #49
Do we overwrite the language-configuration.json file when new versions are instlled?

[2020-05-05 11:33] itsxallwater commented on #49
That is correct

[2020-05-05 16:00] #51 closed

[2020-05-05 16:00] #57 closed

[2020-05-05 16:00] #62 closed

[2020-05-05 16:00] #64 closed

[2020-05-05 16:00] #76 closed

[2020-05-05 16:00] #86 closed

[2020-05-05 16:00] #95 closed

[2020-05-06 13:17] nlehmanDLC opened #96 "[BUG] Using periods in labels"
I'm using VS Code 1.44 on Windows Server 2016.  I'm using version 2.0.6 of MV Basic.

I often use periods to separate words in my labels.  For example:
[code]
When I run the code format, it does not recognize these as labels.

What I end up doing is changing your regex found in client\out\extension.js to:
[code]

I have to do this each time you put out a new version of your extension.  It's no big

[2020-05-06 13:41] kpowick commented on #96
Never noticed that before.  Thanks for the feedback.  I'll look at getting that RegEx fix into the next update.

[2020-05-06 13:55] kpowick commented on #96
Actually, I cannot reproduce the issue.  Dot-separated labels in my own code, and your example, are recognized in 2.0.6.

If you check the folder `.vscode/extensions`, do you only have one version of `mvextensions.mvbasic-N.N.N`, where `N.N.N` is the version number (e.g. `2.0.6`)?

Perhaps try reinstalling via the following procedure:

1. Remove the extension via the Extensions panel in the VS Cod

[2020-05-06 14:14] nlehmanDLC commented on #96
I had both `2.0.5` and `2.0.6` in my extensions folder.  I followed your steps to remove.  When I re-installed I still have the same issue.

Here are the customized settings I use for this extension:
[code]

Here is a screenshot before I do code formatting:
![image](https://user-images.githubusercontent.com/17048440/81187182-b2b54a00-8f81-11ea-8d39-3f2f8704deb0.png)

And here is what happens after

[2020-05-06 14:25] kpowick commented on #96
Ok.  I see the issue now.  It's not the code linter, it's the syntax highlighting you're missing.  And the dot isn't the issue, it's the leading spaces (your margin setting) that is causing the highlighter to "miss" your labels.  Actually, non dotted labels have the same problem if the margin is greater than zero.

I'll get this fixed-up and post the RegEx for the next update here.

Thanks for the

[2020-05-06 15:52] kpowick commented on #76
Just wanted to follow-up and say thank you for the extension size reduction in `v2.0.6`.

We went from 140.3MB in `v2.0.5` to 9.9MB in `v2.0.6` --  93% smaller!

<img width="397" alt="Screen Shot 2020-05-06 at 11 31 07" src="https://user-images.githubusercontent.com/1646753/81198108-1c882080-8f8f-11ea-93c1-69c44ccc63dd.png">

[2020-05-06 17:04] kpowick commented on #96
I believe I have a RegEx fix for the syntax highlighting problem of labels beginning with spaces.

The updated RegEx for label recognition is:  `"^\\s*([\\w.]+:(?!=)|[0-9]+)"`

Several files are affected, which you can review in [this commit](https://github.com/mvextensions/mvbasic/commit/77b961a124be0bfb5402ab99f02162ad2892667d).

[2020-05-06 17:14] kpowick opened #97 "[LABEL TEST] -- IGNORE"
**Additional context**
Add any other context or screenshots about the feature request here.

[2020-05-06 17:18] #97 closed

[2020-05-06 17:35] kpowick commented on #96
@nlehmanDLC, If updating your live install by hand, please be sure to check all commits as of 2020-05-06 in the [branch](https://github.com/mvextensions/mvbasic/commits/96-periods-in-labels) that I opened for this issue.

[2020-05-06 17:47] nlehmanDLC commented on #96
The RegEx looks fine to me.  For me the addition of the dot was the important thing.  I didn't really need the part with the leading spaces which might have been confusing based on the screen shots I posted.  The first screen shot represents the way I wanted the code to be formatted, the second shows what happens after running the code format.  Since it wasn't being matched as a label it was inden

[2020-05-06 17:48] itsxallwater commented on #96
@kpowick I pulled your branch and ran a quick build to put together a preview for 2.0.7 with this change included. Might help out for testing. Easier to accomplish now that the final build output is tiny.

1. Take care to set the `version` in the `package.json` files (`vsce` can do this for you but for these sorts of things I like to keep it manual).
2. `npm run compile`
3. `npm run webpack`
4. `v

[2020-05-06 18:21] kpowick commented on #96
@nlehmanDLC Sure thing, but I had to come up with a RegEx that solved more than just the "dot" problem.  Dotted labels actually work fine in 2.0.6, **IF** there are no leading spaces (margin) before the label.  Your report uncovered that problem.

Thanks again. Tweaking the syntax highlighting is an ongoing process.

[2020-05-07 08:04] ianmcgowan opened #98 "[BUG] Issue with linting in server.js with multiple levels of quoting"
Splitting lines on ";" to allow checking for problems is working well, and common cases where a semi-colon is embedded in a string "" or between parens is handled. Issue is that if there are quotes between parens, such as this example: `LEASE.TYPE=OCONV(ID,"TLS.MASTER,LS.BILLING;X;38;38")`

The line ends up getting split, and the parser thinks there are two labels 38 on separate lines.  Short term

[2020-05-07 14:14] kpowick commented on #98
@itsxallwater did a lot of work on the linter for `v2.0.6`, so he can answer better than me.

One approach I thought about was a two-step process.  First, replace all quoted strings in a line with empty quotes `""`, then apply linting.  It's simplistic, but fairly easy.  I'm not sure how it would affect efficiency though.

[2020-05-07 15:52] kpowick commented on #98
Ian, does your [commit](https://github.com/mvextensions/mvbasic/commit/4faac9706561c9f6075f4427ad78991e261a28d0) resolve the issue?  I did some quick tests and it seems to work correctly now.  Thanks!

[2020-05-07 17:32] ianmcgowan commented on #98
Yes, but it seems hokey.  Quotes are treated as a group, so \"foobar;123"\
would still have an issue with splitting.  But treating parens as a
separate class does seem to resolve what's a more common issue - the code I
work with does a lot of X=OCONV(ID,"TFILENAME;X;23;23") rather than
READV's, and the quotes inside the parens was a problem.  The "right"
answer involves smarter use of regex with f

[2020-05-07 18:20] kpowick commented on #98
As I mentioned above, why not just replace quoted strings with empty quotes `''`?

The content of a string has no effect on the validity of the code.  I recently updated the RegEx for quoted strings.  It's faster and more efficient.  Plus, I see this replace method already in use with regard to comments.  Maybe something like the following pseudo code .
[code]

[2020-05-08 01:12] itsxallwater commented on #98
I like where you guys are headed but won't have much availability near-term to get hands on with you.

is surprisingly fast - 200-300ms on my PC with a large program.  It's
called for every keystroke though, so I wonder if some kind of "debounce"
makes sense, where we just return if it's been less than a second since the
last call.  It's running outside the main vscode thread, so doesn't seem to
i

[2020-05-08 01:30] ianmcgowan commented on #98
That would work for quotes, and true from a linting perspective strings can
be ignored. Could paren's be treated the same way? That seems riskier, but
not sure anything we're checking for in validateTextDocument() would be
affected?

There's this example in the D3 documentation:
locate(acontinent,continents,1;position;'al')
then crt acontinent:' is already there' to be handled.  I may be one of a

[2020-05-08 13:19] kpowick commented on #98
I think that for the current level of linting being done, replacing parens with empty ones `()`, would probably be ok in the short term.  However, I agree with Mike that we should eventually move to using a language server.

A language server offers much more in terms of both performance and deeper/better linting capabilities.  Also, if I understand correctly, a language server for MV can be plugg

[2020-05-08 14:10] itsxallwater commented on #98
Sorry, we are already using a language server. I was just suggesting that we are due to update ours to catch up to what Microsoft is currently recommending in their sample.

Regarding that locate syntax, we used that heavily in D3 at my old shop so you're definitely not alone.

[2020-05-08 14:15] kpowick commented on #98
LoL.  Shows how much I still don't know about this project.  Oh well, learning more each day.

[2020-05-08 18:22] kpowick commented on #98
I've pushed a [commit](https://github.com/mvextensions/mvbasic/commit/f2d9533161ac212a652e6d31645d732093e14d49) into `develop` that uses the approach of replacing parenthesis and quoted strings with empty ones before linting.  The focus was to help with this issue -- code splitting accuracy on semicolons found within parenthesis.

It seems to work well. I tested it on a lot of my own codebase, tes

[2020-05-09 03:45] ianmcgowan commented on #98
Nice!  Trying it out now.  With strings and parens emptied out it seems
like the only semi-colons left will be statement delimiters.  If that's
true, the loop char-by-char to split the line would be more efficient with
just line.split(';')? I'll give it a shot..

On Fri, May 8, 2020 at 11:23 AM Kevin Powick <notifications@github.com>
wrote:

[2020-05-09 04:19] kpowick commented on #98
Great.  I've pushed a RegEx cleanup to `develop` based on how lines are being "stripped down" before further linter processing.

It seems to work well, but if the linter ever gets more sophisticated, such as verifying not only keywords but parameters too, we'll have to rethink a lot of this.  One step at a time though, right? 😀

[2020-05-11 16:12] kpowick opened #99 "[BUG] Label error with GOTO/GOSUB"
**Describe the bug**
When a `GOTO` or `GOSUB` is followed by more than one "word", the linter considers these extra "words" as additional, invalid labels.

This is ok when GOTO/GOSUB is on a line by itself.

`GOTO 100 XYZ ;* (linter correctly identifies XYZ as invalid)`

However, this is a problem when GOTO/GOSUB is part of a statement.

`IF X = 1 THEN GOTO 100 ELSE STOP;* Linter reports ELSE and

[2020-05-12 05:30] ianmcgowan commented on #98
Kevin, that seems to be working nicely, thanks!  I changed how the line is being split into statements - now there are no extra semi-colons, we can just use split and it's simpler/faster...

[2020-05-12 19:55] kpowick commented on #98
I've noticed a small problem with my approach to "cleaning up" code lines before analyzing them. i.e. Replacing quoted strings, parens, extra spaces, etc.  Since the length of the original line of text is changed, it throws off the positioning of the red "error squiggle" displayed by intellisense.

I've got a fix that I plan to push later today.

[2020-05-13 23:39] #49 closed

[2020-05-14 19:27] kpowick commented on #99
Still some issues to work out. Related commit reverted.

[2020-05-18 21:29] itsxallwater commented on #24
@JeffTeter can you confirm we're all good on this now? Or are you still having some issues?

[2020-05-19 15:07] JeffTeter commented on #24
The last time I tried, same issue but it has been a while.I will retry
today. Also, is this implemented in MVBasic?

On Mon, May 18, 2020, 16:29 Mike Wright <notifications@github.com> wrote:

[2020-05-19 16:05] pschellenbach commented on #89
Closed by commit 6b9b8ee7

[2020-05-19 16:05] #89 closed

[2020-05-19 20:35] itsxallwater commented on #24
Yessir

[2020-05-27 20:52] alegar44 opened #103 "[FEATURE] MVGateway for MacOS"
I think this plugin is awesome but my setup is in MacOS and we need to do remote development. One Unidata server for everyone.

Is there a way to get a version of the MVGateway for Mac?

I can contribute with this also if you guys want. I just need to know how the MVGateway works.

[2020-05-27 21:18] dthiot commented on #103
Alejandro,

The gateway server does not need to be local to your workstation.  You can have one gateway server for multiple users.  It can be installed on any windows server that you can reach in your network that can in turn reach your Unidata server.  What terminal emulation software do you use?  Accuterm now supports the VS Code extension and the gateway is not required.

Dick Thiot

From: Alej

[2020-05-27 21:48] alegar44 commented on #103
Sadly I have to use SBClient, which I run with wine. But that also will become a problem with Catalina :P

[2020-05-28 13:35] dthiot commented on #103
Alejandro,

Do you have any Windows based system, preferably a server that can host the MVGateway?  Also, I use Mac as well and run Catalina now.  You may find it useful to have a small Windows 10 virtual machine with Parallels running in Confluence mode.  Your SBClient terminal emulator will run much like it does on Wine.  I have a few other Windows apps that I need to run so this may be difficul

[2020-05-28 16:52] ianmcgowan commented on #103
I use VSCode with the excellent
https://marketplace.visualstudio.com/items?itemName=liximomo.sftp extension
- if you're connecting to a Unix/Linux system where you're ssh'ing in it
works very well.  There's a setting so that when I open a file, it syncs
down from the server, and when saving it syncs up to the server, which
makes things pretty convenient.  On first connection you can just download

[2020-05-29 15:36] alegar44 commented on #103
I was able to install MVGateway in a VM and it connects to my account and shows the files, but when I try to open the one file I get the error **Unable to resolve non-existing file 'RestFS:/BP'**

The server is UNIDATA in Windows :S and the samba is super slow. I'm trying to open the BP files which have 12.000 programs. Is that something that MVGateway should handle? How can I debug what is going

[2020-06-01 17:24] brentlblair opened #104 "[BUG] NEXT in FOR/NEXT loop not recognized if preceded by a Label"
**Describe the bug**
It the text and attached image, the Lint does not see shows a missing NEXT L for the FOR L.  It highlights the error under the NEXT L that is saying is missing.

**To Reproduce**
      FOR P=1 TO NUM.PARTS
        FOR L=1 TO LOC.CNT
          THIS.AVAIL.QTY=PARTS.ARRAY<7,P,L>
          ORDER.QTY=PARTS.ARRAY<5,P>
          IF THIS.AVAIL.QTY >= ORDER.QTY THEN
            PARTS.A

[2020-06-01 17:37] kpowick commented on #104
I am unable to reproduce this problem using the code example that you provided.

Which version of the extension are you using?  The latest is 2.0.6.

[2020-06-01 17:48] dthiot commented on #104
Brent,

It is likely that it is some of the code before or after the loops that is causing your behavior.  Did you check it with just the snippet that you sent?

Dick

From: Brent Blair <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Monday, June 1, 2020 at 12:24 PM
To: mvextensions/mvbasic <mvbasic@noreply.github.com>
Cc: Subscribed <subscribed@noreply.git

[2020-06-01 17:55] brentlblair commented on #104
I am using 2.0.6.  I tried a few other things.  I copied just that portion
of the code to a new program, and there is no error.  In the original
program, I have this similar loop above the code where the error shows.

    NUM.PARTS=DCOUNT(PARTS.ARRAY<1>,VM)
      LOC.CNT=DCOUNT(ROUTE.LOC.ARRRAY<1>,VM)
      FOR P=1 TO NUM.PARTS
        BASE.PN=PARTS.ARRAY<2,P>
        FOR L=1 TO LOC.CNT

[2020-06-01 18:36] kpowick commented on #104
You are correct that the numbered label preceding the `NEXT` is causing the issue.  We'll have to look into that for the next release.

As you noted, you can use `CONTINUE`, or you can just put the label on a line by itself.

[code]

I get it, especially when porting a codebase to a different platform.  However, in the case you describe, I would probably set a flag on the inner loop so that if one

[2020-06-01 18:42] kpowick commented on #104
BTW, I'm working on other aspects for `FOR/NEXT` tracking that allow things like NEXT with no named variable.  So, I'll look into this new problem as well.

Again, thanks for reporting it.

[2020-06-02 15:05] Nick2253 commented on #85
Sorry that it took me forever and a day to respond, but that worked!  Thank you for the help.

[2020-06-02 16:17] dthiot commented on #103
Alejandro, have you had any additional success trying to get it to work with Unidata?  Unfortunately, I don't have access to a Unidata system.  @ianmcgowan made some very good points and I believe that he works with Unidata regularly.

[2020-06-02 17:26] #85 closed

[2020-06-02 18:57] alegar44 commented on #103
No luck, and I don't know where to look. Any ideas where to look for logs or something? I have 2 Unidata servers, one is 7.3 and the other one is 8.0. I can connect but not see the contents of files in the 7.3. For 8.0 I cannot connect, no idea why. Any help is greatly appreciated.

Regards

[2020-06-02 19:38] dthiot commented on #103
Alejandro,

MVgateway uses UniObjects to connect to the Unidata server.  Short of setting up a Unidata server, I don’t have a way to test it.  In the near future, some of the gateway code is going to be made open source and that may help you debug this.  Are you at all familiar with C#?  That is what the MVgateway code is in.

Dick

From: Alejandro Garcia <notifications@github.com>
Reply-To: mvext

[2020-06-02 19:48] alegar44 commented on #103
Not much, but I came from the Java world, so I should be able to pick it up :)

[2020-06-03 19:05] brentlblair opened #105 "[FEATURE] Label jumping out of code block"
**Describe the bug**
Lint shows an error on both lines with "GOTO 208".
208 is trying to go out of scope ex
TEST(24, 20): Invalid GOTO or GOSUB, jumping into/out of a block
This code compiles without issue and works in our production jBase environment.  In this snippet, we want to jump back to the input if we receive bad input from the user.  I took this snippet from an existing program and just c

[2020-06-03 19:47] kpowick commented on #105
Thanks, @brentlblair .  This issue is related to issues  #99 and #104, which I hope to resolve for the v1.0.7 release.

[2020-06-03 19:53] dthiot commented on #105
I do not see this error on the released version of the extension that I have which is 2.0.5.  However, I don’t see an “*” on the comment that is on the line with IF TOT.PICKED > “0” THEN line either.  Do you have other code from outside of the FOR/NEXT loop that references the 208 label?
[A screenshot of a cell phone  Description automatically generated]

Please don’t take offense to this but I ha

[2020-06-03 19:54] dthiot commented on #105
I was surprised to see that my system had version 2.0.5 of the extension since I thought that 2.0.6 was the currently released version.

From: Kevin Powick <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Wednesday, June 3, 2020 at 2:48 PM
To: mvextensions/mvbasic <mvbasic@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [mvext

[2020-06-03 19:56] brentlblair commented on #105
No, the only references to 208 are in the code block that I sent you.

*Brent Blair* <http://www.linkedin.com/in/BrentLBlair>

Vice President of IT
Encompass
Phone 954.474.0300
Fort Lauderdale, FL
<https://www.google.com/maps/place/Encompass+Parts+Distribution/@26.145357,-80.2482168,12.46z/data=!4m5!3m4!1s0x0:0xb2bfe23d3412449!8m2!3d26.0920996!4d-80.2409538>

bblair@encompass.com
encompass.com

On

[2020-06-03 19:58] kpowick commented on #105
Yes, 2.0.6 is the released version.  I'm surprised you have 2.0.5 ;)

[2020-06-03 20:02] dthiot commented on #105
I uninstalled and reinstalled and I now have 2.0.6.  However, I don’t see the error that Brent is seeing.  The formatter does not properly indent the code either.
[A screen shot of a computer  Description automatically generated]

From: Kevin Powick <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Wednesday, June 3, 2020 at 2:59 PM
To: mvextensions/mvbasic <

[2020-06-03 20:09] kpowick commented on #105
I have 2.0.6 installed.  Formatting is ok, and the error is as Brent describes.  Not sure what's up with your local system.  Try VSC restart?

Your screen shots are not being included.

[2020-06-05 04:18] ianmcgowan commented on #105
Kevin, not sure this is related to those issues, there's explicit code to check for jumping into or out of a block (technically any code at a different indent level) in the linter.  I sort of agree with the intent of that, but it's quite opinionated of the extension to flag it as an error - it's legal syntax and there's plenty of legacy code around that does worse :_)  The intent of this check is

[2020-06-05 05:04] brentlblair commented on #105
My vote would be to add extension settings to control this. I use PHPStorm,
and it has a whole section of user settings around linter.
I don’t want to see this flagged as an error or warning, whereas other
users might. I have to imagine there will be other similar situations with
the linter where we could all debate what should be considered a warning,
error, or nothing.

On Fri, Jun 5, 2020 at 12

[2020-06-05 13:18] kpowick commented on #105
I completely agree and was actually thinking of removing it entirely.  It might be "bad form", but if the compiler allows it, the extension shouldn't flag it as an error.

I think that future versions of the extension could include options to warn about such coding practices, but not at this stage of its development.

[2020-06-05 14:18] ianmcgowan commented on #105
There is a flag, ignoreGotoScope, you can set it by adding this to your
settings (workspace or global):

    "MVBasic.ignoreGotoScope": false,

On Thu, Jun 4, 2020 at 10:04 PM Brent Blair <notifications@github.com>
wrote:

[2020-06-05 14:54] brentlblair commented on #105
Sorry, I didn't notice that in the settings, you can close this issue.
I do agree that it should be changed either way from an error to a warning
since it compiles.
I changed it to true, so it would be more of a suggestion for anyone who
leaves the setting false.

*Brent Blair* <http://www.linkedin.com/in/BrentLBlair>

Vice President of IT
Encompass
Phone 954.474.0300
Fort Lauderdale, FL
<https://

[2020-06-05 15:30] pschellenbach commented on #105
This setting may need to have 3 choices: ignore, warning or error. The MVON# extension is the ancestor of this extension, and in the MVON# version of BASIC, jumping out of a code block is indeed an error. For other MV flavors it could be a warning or just ignored depending on policy.

[2020-06-05 15:31] ianmcgowan commented on #105
Especially since the linting is completely "lexical" and doesn't really consider the structure of the program at all.  It would be awesome to actually parse the program into tokens and make the linting more aware of the structure, but that's a non-trivial task.  Pete S. has a parser written in dotnet that might make a starting point after converting to typescript.

[2020-06-05 15:41] ianmcgowan commented on #105
That's good to know!  I retract my "opinionated" comment :-)  It does make clear how challenging parsing the different flavors will be. I'd vote for vanilla-R83 linting to start!

[2020-06-05 15:50] dthiot commented on #105
I may be wrong in this but my understanding of MVON# is that you can GOTO outside of a structure (IF/END, FOR/NEXT, LOOP/REPEAT, etc) but you cannot GOTO the middle of a structure.  It is not something that C# allows and MVON# is transpiled to C# and then compiled with the .NET compiler.

From: Ian McGowan <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Fri

[2020-06-05 15:55] ianmcgowan commented on #105
That's a really good idea.  I can imagine a lot more settings like ignoreGotoScope.  And it would be nice to have a hierarchy if possible: `MVBasic.linting.GotoScope = "warning", MVBasic.linting.MissingLabels = "ignore"` etc.  Might skip some goto debates that way, and also provide an option for folks with ancient codebases to turn off the nagging.

[2020-06-05 15:57] kpowick commented on #105
There seems to be several things to consider here.  Since we have the `ignoreGoToScope` option, perhaps in the interest of getting v.1.0.7 out soon, we should revisit this item for v 1.0.8.  Though maybe for now, the linter can flag this as an warning instead of an error.

[2020-06-05 16:02] ianmcgowan commented on #105
Agreed. Brett is ok with using the option for now, and mass changes to the linter is something that will take a while to work through and test (if it's even considered a good idea).  Vote to close?

[2020-06-05 18:54] kpowick commented on #105
I'll just remove the 2.0.7 milestone and change it from a bug to an enhancement request.

[2020-06-11 05:02] #24 closed

[2020-06-11 05:02] #45 closed

[2020-06-11 05:02] #96 closed

[2020-06-11 05:02] #98 closed

[2020-06-11 05:02] #99 closed

[2020-06-11 05:02] #104 closed

[2020-06-11 16:40] brentlblair commented on #105
Not sure if you are already aware, but my vscode updated to 2.0.7 today,
and now ALL of my FOR NEXT loops show the error of missing NEXT statement.
Just to double check, I created a new program with just the simple loop
below, and it still shows the error.
          FOR X=1 TO 2
            PRINT X
          NEXT X
[image: Code_g938A9s9Rq.png]

*Brent Blair* <http://www.linkedin.com/in/BrentLBlair

[2020-06-11 16:48] dthiot commented on #105
Brent,

Yes, 2.0.7 was released today.  My regular VSCode (not dev) updated but required a reload.  I took your code and pasted it into a new document and it does not show any error.  I don’t think that it is directly related to the ignoreGoToScope setting because it doesn’t matter if I have this enabled or disabled.  I’m not sure what other options you have different from what I have.  I am going

[2020-06-11 16:59] brentlblair commented on #105
We use Accuterm to drive VS Code and setup the workspace on the fly.  This
is the json file that drives the setup.  Hope this helps.

// AccuTerm VSCode Workspace Template
//
// To change the maximum number of items to list from any file,
// change RestFS.MaxItems. To show items in a dictionary level
// file, change RestFS.SelAttr to 208.
{
  "folders":[{"uri":"RestFS:/","name":"<ACCOUNT>"}],
  "e

[2020-06-11 17:06] kpowick commented on #105
@brentlblair  Wow.  That is terrible, and I'm sorry.

I tested a bunch of sample programs and coding styles, but none where people had **no** whitespace between their equal signs -- `FOR X=1 TO 10` vs `FOR X = 1 TO 10`.

Short of getting out a new release, or hotfix, this problem can be resolved by adding the whitespace around your equal signs.  However,  I understand this may be a coding style ch

[2020-06-11 17:14] itsxallwater commented on #105
Yeah we can get a release in to address this quickly. Thanks for jumping on it guys.

[2020-06-11 17:16] brentlblair commented on #105
I’m sure it’s not easy to guess all of the different styles for all of the
different flavors of pick.  We generally try to avoid extra white space.
With all of the code that we have, I’m sure it’s both ways. Just let me
know when you have a hot fix.  As a department we want to use this
exclusively once we get past the false positives. I appreciate what you
guys are doing with this product.

On Thu

[2020-06-11 17:19] kpowick opened #107 "[BUG] For/Next not recognized if no whitespace after FOR variable"
**Describe the bug**
This issue was originally reported by @brentlblair as of release of `v2.0.7`.

A `FOR/NEXT` statement block displays an error if the variable in the `FOR` statement has no whitespace between it and the equal sign.

**To Reproduce**

`FOR X = 1 TO 10` <--OK
`FOR X=1 TO 10`  <-- No whitespace after `X`.  Error displayed by linter

<img width="415" alt="Screen Shot 2020-06-11 at

[2020-06-11 17:24] kpowick commented on #105
@brentlblair

I've opened a new issue #107 for this bug.

Again, sorry.  Thanks for your understanding.

[2020-06-11 17:27] dthiot commented on #105
Kevin,

Why don’t I see the error in Brent’s code snippet?

Dick

From: Kevin Powick <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Thursday, June 11, 2020 at 12:24 PM
To: mvextensions/mvbasic <mvbasic@noreply.github.com>
Cc: Dick Thiot <dthiot@mavsys.com>, Comment <comment@noreply.github.com>
Subject: Re: [mvextensions/mvbasic] [FEATURE] [was bug] Label j

[2020-06-11 17:33] kpowick commented on #105
@dthiot   I'm unsure.  I've got version `2.0.7` as auto-updated by VS Code and the error happens for me as Brent describes.

I have a screenshot you can review in issue #107.  Let's continue this discussion under that issue number.

[2020-06-11 17:35] itsxallwater commented on #105
Sorry if I'm being dense, this ticket is still open too are we leaving it as-is to address a separate issue?

[2020-06-11 17:39] kpowick commented on #105
This was an enhancement request related to _Scope Jumping_.  Unfortunately, we've gone a little OT in the comments, which is why I opened issue #107.

Maybe I should close this one and open a new "clean" enhancement request for _Scope Jumping_?

[2020-06-11 17:42] itsxallwater commented on #105
I'm good with it. Thanks for staying on point @kpowick!

[2020-06-11 18:09] kpowick commented on #107
@itsxallwater  This issue is now resolved on the `develop` branch.  I'll leave it up to you to update `master` and distribute a hotfix.

If there is anything I can do to help, please let me know.

[2020-06-11 18:27] itsxallwater commented on #107
We need to get you added to the publisher account in Microsoft but last time we did it for some other folks on the team it was kind of a pain. The good news is building and publishing is pretty straight forward once you're there. I've already done that just buttoning up the repo side.

[2020-06-11 18:28] #107 closed

[2020-06-11 18:39] kpowick commented on #107
@brentlblair @dthiot  I was able to update the extension to `v2.0.8` via VS Code, and all is working as expected.

[2020-06-11 19:00] brentlblair commented on #107
Yes, it looks good to me.  I appreciate the quick turnaround.  I will
let you know if I notice any other false positives.

*Brent Blair* <http://www.linkedin.com/in/BrentLBlair>

Vice President of IT
Encompass
Phone 954.474.0300
Fort Lauderdale, FL
<https://www.google.com/maps/place/Encompass+Parts+Distribution/@26.145357,-80.2482168,12.46z/data=!4m5!3m4!1s0x0:0xb2bfe23d3412449!8m2!3d26.0920996!4d

[2020-06-11 19:07] dthiot commented on #105
I updated to 2.0.8 and still don’t have an error on the FOR/NEXT loop sample code from Brent, so the update didn’t break something that was working.

From: Mike Wright <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Thursday, June 11, 2020 at 12:42 PM
To: mvextensions/mvbasic <mvbasic@noreply.github.com>
Cc: Dick Thiot <dthiot@mavsys.com>, Mention <mention@

[2020-06-12 00:30] mpanichella opened #109 "[BUG] connection successfull but dir directory not working"
When connect to MV Rest service is successfull, but when i try to readDirectory, i have status 500.

I try to do this from putty ssh, and work well.

I try to test the postman collection, but when i call login, the response is "connected" but not response the token, to call others apis.

[RestFS] login: 'login' request succeeded
[RestFS] login: auth="Connected"
[RestFS] readDirectory: path=/u2/sis

[2020-06-12 13:33] brentlblair opened #110 "[BUG] Formating comment lines"
Not sure if this is considered a bug or the intended outcome.  Either way, it's a minor issue.  I noticed that the `format document` also indents the comments lines to the configured code margin.  I think the comment lines should either be ignored or moved to zero margin.  In my opinion, it makes the program harder to read.

This is what I think the formatted document should look like:

![Code_jWP

[2020-06-12 13:51] kpowick commented on #110
Looking at the code that handles formatting, comment lines _should_ already be ignored.  I use a zero margin in my own user settings, so haven't noticed what you're reporting.

I'll take  a look at what might be causing this "regression".

[2020-06-12 13:56] dthiot commented on #110
Could we have a workspace setting that would indent comments to the level of the associated code, left justified or to a comment margin which would likely be set to 0?  This might require two settings if comment margin is an option.

From: Kevin Powick <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Friday, June 12, 2020 at 8:51 AM
To: mvextensions/mvbasic

[2020-06-12 13:59] kpowick commented on #110
@dthiot  That's an interesting idea.  If it's something you would like to see, would you please enter it as a new enhancement request?  Otherwise, it may get lost in the comments thread of this issue.

[2020-06-12 14:39] dthiot commented on #110
I’m happy to create the enhancement request.  I just thought I would float the idea first for discussion.  I’ll create the request.

From: Kevin Powick <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Friday, June 12, 2020 at 8:59 AM
To: mvextensions/mvbasic <mvbasic@noreply.github.com>
Cc: Dick Thiot <dthiot@mavsys.com>, Mention <mention@noreply.github.com>

[2020-06-12 14:51] kpowick commented on #110
Thanks, @dthiot !

I get what you're saying and hope I didn't give the impression that I was trying to dismiss your idea or put you off.  It makes sense to ask, right?  Why bother creating a new request if nobody is really interested?

I was just trying to preemptively keep the comments on this issue from drifting into a discussion not specifically on topic for it.  For example, participants agree

[2020-06-12 14:54] pschellenbach commented on #110
While on the issue of formatting comments, wED has two comment settings: one for '*' comments and one for '!' comments. Each can be set to indent none, margin or code level. No special formatting is provided for REM statements.

[2020-06-12 14:55] kpowick commented on #110
@brentlblair  This issue is resolved.  Comment lines are now ignored when it comes to indentation.  This actually used to be the case, and I'm still trying to figure out where this "regression" crept in.

Maybe @itsxallwater can produce a hotfix for this?  I'm not sure if an entirely new release is needed.  I suppose I should figure out how to build a VSIX file.

[2020-06-12 14:59] itsxallwater commented on #110
I think I'd like this feature toggled to be honest. I tend to keep comments indented with code. I could be in the minority (or alone altogether) but this feels like the kind of thing that we'd be better served to make an option.

[2020-06-12 15:02] itsxallwater commented on #110
Re: building a vsix I've got you covered @kpowick! Check this: https://github.com/mvextensions/mvbasic/issues/96#issuecomment-624794621

[2020-06-12 15:03] brentlblair commented on #110
I agree with making this a setting.  You will never get everyone to agree
on a coding style.  I forgot that WED had the 3 settings for comments.  I
think the default is no indent, so that's what I have always used.

*Brent Blair* <http://www.linkedin.com/in/BrentLBlair>

Vice President of IT
Encompass
Phone 954.474.0300
Fort Lauderdale, FL
<https://www.google.com/maps/place/Encompass+Parts+Distrib

[2020-06-12 15:04] dthiot commented on #110
I like Pete’s suggestion of the way that he does it on Accuterm in terms of none, margin or code.  I think that margin is the standard indent margin, right?  That means only one workspace parameter required.

From: Mike Wright <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Friday, June 12, 2020 at 9:59 AM
To: mvextensions/mvbasic <mvbasic@noreply.github.co

[2020-06-12 15:05] kpowick commented on #110
@itsxallwater I like my comments aligned with code as well, and the latest commit to `develop` does not change your comment indentation, which was the problem seen by @brentlblair .

[2020-06-12 15:10] dthiot opened #111 "[FEATURE] Comment Indentation Configurability"
Add a workspace parameter "Comment Indentation" that would have options for none, left, margin,  or code.  None means that comments are not indented and left where they are.  Left means that comments are moved all the way to the left (zero margin).  Margin means that code is indented based on the margin setting.  Code means that the comments are indented to the same level as the next line of code

[2020-06-12 15:12] dthiot commented on #110
Feature request submitted.  Please feel free to modify.  I have suggested 4 options instead of Pete’s 3.  None means that comments are left in place.  Left means that comments are moved to the left edge.  Margin and code remain the same as Accuterm.

From: Brent Blair <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Friday, June 12, 2020 at 10:04 AM
To: mvex

[2020-06-12 15:58] kpowick commented on #110
@itsxallwater Thanks for that.  I've got a vsix for the extension (still at 2.0.8) that @brentlblair can use to update his extension.  Two questions:

1) Should I have changed the version number for this vsix "hotfix"?  It's still 2.0.8

2) Where can I make this vsix file available?  I have an on-line storage provider from which I can create a download link.

[2020-06-12 16:13] trentsteel84 commented on #109
I think i'm getting something similar.
I'm trying to connect through VSCode to jBase with MVGateway.
In the bottom right corner it says it connected, but next to the account it says "Unable to resolve workspace folder".

I tried using the rest api as shown in the example. The login returns "Connected", but i can't get the directory listing to work,
I've tried:
http://localhost:9005/dir
http://loca

[2020-06-12 17:00] itsxallwater commented on #110
You can attach files here in your comment. I've found that's become the most handy, the link is shareable beyond just the comment and it keeps things close to home. Now that the vsix is tiny it works well!

[2020-06-12 17:19] kpowick commented on #110
@brentlblair Attached is a vsix file for a patched version of the extension 2.0.8.

**To Install**

1. Download the attached zip file and extract the file `mvbasic-2.0.8.patched.vsix`
2. Open VS Code
3. Open the Command Palette `cmd+shift+P` or `menu/view/Command Palette`
4. Type `vsix` to find the option `Extensions: Install from VSIX...`
5. Select that option.
6. From the file dialogue that open

[2020-06-12 17:21] kpowick commented on #110
Didn't see your edit until after posting the vsix.  As the formatting option was the only change, it's probably ok just to leave it as is for now, don't you think?

[2020-06-12 18:24] brentlblair commented on #110
Thank you, it works great.

*Brent Blair* <http://www.linkedin.com/in/BrentLBlair>

Vice President of IT
Encompass
Phone 954.474.0300
Fort Lauderdale, FL
<https://www.google.com/maps/place/Encompass+Parts+Distribution/@26.145357,-80.2482168,12.46z/data=!4m5!3m4!1s0x0:0xb2bfe23d3412449!8m2!3d26.0920996!4d-80.2409538>

bblair@encompass.com
encompass.com

On Fri, Jun 12, 2020 at 1:20 PM Kevin Powick

[2020-06-12 19:35] kpowick commented on #111
I'm actually making good progress on this suggestion.  I hope to have it implemented today. 😀

[2020-06-12 20:20] kpowick commented on #111
I've implemented this feature as new user setting `MVBasic.indentComment`.  I thought the name followed well with the already existing `MVBasic.indent`.

The setting uses the values suggested by @dthiot , but I changed "none" to "ignore".

Possible values for the setting are:

`left` - indent comment line to margin position 0.

`margin` - Indent comment line to the position defined by `MVBasic.mar

[2020-06-12 20:23] dthiot commented on #111
@Kevin Powick<mailto:notifications@github.com> is my hero!!

From: Kevin Powick <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Friday, June 12, 2020 at 3:21 PM
To: mvextensions/mvbasic <mvbasic@noreply.github.com>
Cc: Dick Thiot <dthiot@mavsys.com>, Mention <mention@noreply.github.com>
Subject: Re: [mvextensions/mvbasic] [FEATURE] Comment Indentation Confi

[2020-06-16 14:37] JeffTeter commented on #24
Thanks for the fix. However, testing with a larger file failed. The file I sent as an example had 274 lines in it... Our full file has about 8K lines but testing even with 400 lines failed. I tested this both with this name and with a more generic name to make sure it was not a naming issue. Not a huge priority...
[WNBVariables400.txt](https://github.com/mvextensions/mvbasic/files/4787180/WNBVaria

[2020-06-16 16:27] pschellenbach commented on #24
Jeff - I'm not sure why its not working for you. I just tested your WNBVariables400.txt file and when I add a few variable names that are included in that file they change color to yellow on my machine. The original problem was caused by a blank line at the end of the file, and the word parser expected name-value pair on each line with ':' separator. It now ignores blank lines, but other syntax pr

[2020-06-16 20:01] brentlblair opened #112 "[BUG] Lines with * in the middle appear as a comment"
**Describe the bug**
If you use a `*` for multiplication, the linter thinks the `*` and everything after is a comment.
![Code_Gj9hMwqnqa](https://user-images.githubusercontent.com/23214321/84822287-6f231680-afea-11ea-8616-7bf31726298e.png)

**To Reproduce**
AMT=-1*PJ<5,X>

**Screenshots**

[2020-06-16 20:10] kpowick commented on #112
This is a syntax highlighting issue, which should be separate from linting.

I can reproduce this, but it's a funny one.  The issue is the numeric, in this case `-1`.  If you substitute a character variable, it highlights correctly.

It seems more of a minor/cosmetic annoyance than anything else, but I'll try to get it fixed-up soon.

[2020-06-16 20:14] brentlblair commented on #112
Yes, this is minor. Is there a certain way you want me to report minor
issues?

On Tue, Jun 16, 2020 at 4:10 PM Kevin Powick <notifications@github.com>
wrote:

--

*Brent Blair* <http://www.linkedin.com/in/BrentLBlair>

Vice President of IT
Encompass
Phone 954.474.0300
Fort Lauderdale, FL
<https://www.google.com/maps/place/Encompass+Parts+Distribution/@26.145357,-80.2482168,12.46z/data=!4m5!3m4!1s

[2020-06-16 20:16] kpowick commented on #112
What you've been doing is perfect, and very helpful.  ✅

By calling it "minor", I just wanted people to know that a fix/update might not be coming immediately. 😀

[2020-06-18 16:36] JeffTeter commented on #24
Thanks! I will check that this evening.

On Tue, Jun 16, 2020, 11:28 Peter Schellenbach <notifications@github.com>
wrote:

[2020-06-23 20:40] brentlblair opened #113 "[FEATURE] Linter Context for MV Subroutines and Functions"
I know the linter has custom text for jBase VERBS that shows how to use the VERB.  I would like to enhance this by being able to describe SOME frequently used Subroutines and Functions from my system possibly using the MVBasic settings file in json format.

Something like this could be added to the MVBasic settings:
[code]
The above code would auto complete the following in VS Code:
`DateTimeForma

[2020-06-24 01:14] ianmcgowan commented on #113
Brent, this seems like an excellent candidate for "[User Snippets](https://code.visualstudio.com/docs/editor/userdefinedsnippets)".  I have the following in mine, as well as common things like OPEN, READ, WRITE, defined the way I like them.  When I type SUB, hit Ctrl-Space for complete, and choose the SUB snippet, I can tab through the various completions to fill in $1, $2, etc in the snippet body

[2020-06-24 14:57] dthiot commented on #113
Ian, I think that under your PROGRAM snippet, the “Created” line is missing “, at the end.

From: Ian McGowan <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Tuesday, June 23, 2020 at 8:14 PM
To: mvextensions/mvbasic <mvbasic@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [mvextensions/mvbasic] [FEATURE] Linter Context for M

[2020-06-24 16:22] brentlblair commented on #113
This is very cool.  I think it's more for adding code blocks, I'm looking
for something different.

I'm looking for custom autocomplete and documentation tied to the MV Basic
linter.
If I start to type 'OPEN' the linter shows OPEN, displays an example, and
shows documentation for the open verb.
In my example, I want to add a commonly used custom function
`DateTimeFormat` to a program that I am wri

[2020-06-24 23:51] ianmcgowan commented on #113
To be technically correct (the best kind!) "Linting" is different from "Intellisense", both are managed in https://github.com/mvextensions/mvbasic/blob/master/server/src/server.ts, in loadIntelliSense and validateTextDocument functions.

There is an option for a custom word list in server.ts/loadIntelliSense, but it's far from the "autocomplete" option you're looking for - if you specify a filenam

[2020-06-29 01:48] Larrylaswell opened #114 "[BUG] linter does not recognize FOR - EACH - NEXT Constructs"
OpenQMx64 3_4_19
VSCODE 1.46.1 Date 2020-06-17
Windows NTx64 10.0.18363
MV Basic / MV Extentions 2.08

To reproduce enter the following code:

FOR EACH name IN list
       Display name
NEXT name

The linter flags the NEXT statement as an error.  It look like it was expecting a

FOR I = 1 TO 10
      . . . .
NEXT I

Works

[2020-06-29 02:03] Larrylaswell opened #115 "[BUG] MV Basic Extention - Formater does not understand TRY-CATCH-END Constructs"
OpenQMx64 3_4_19
VSCODE 1.46.1 Date 2020-06-17
Windows NTx64 10.0.18363
MV Basic / MV Extentions 2.08

The formater does not handle the TRY - CATCH- END CONSTRUCT

For example this is what a TRY-CATCH-END construct should look like

     TRY
          GOSUB READ.RECORD
     CATCH IOERROR
          GOSUB HANDLE.IO.ERROR
     CATCH SYS$ANY
          GOSUB HANDLE.SYSTEM.ERROR
     END

     makeWrita

[2020-06-29 02:09] Larrylaswell opened #116 "[BUG] MV Basic Extentions compiler does not recognize the SUBR statement"
OpenQMx64 3_4_19
VSCODE 1.46.1 Date 2020-06-17
Windows NTx64 10.0.18363
MV Basic / MV Extentions 2.08

A statement such as:

     fullName = SUBR("CLIENT.NAME.FORMAT", clientNumber)

is flagged as an error by the compiler.  The SUBR statement is a way to call a subroutine as if it were a function, and the compiler should recognize it.

[2020-06-29 02:24] Larrylaswell opened #117 "[FEATURE] Add precompiler features"
OpenQMx64 3_4_19
VSCODE 1.46.1 Date 2020-06-17
Windows NTx64 10.0.18363
MV Basic / MV Extentions 2.08

I have an application that requires that the source code be massaged to add functional capability, enforce formatting standards, and automate insertion of boiler plate code to handle errors.  This requires a pre-compiler and should be configurable by the user.

The compiler / pre-compiler / catal

[2020-06-29 02:33] Larrylaswell opened #118 "[FEATURE] VSCODE FILE EXPLORER should display file names in upper and lower case"
OpenQMx64 3_4_19
VSCODE 1.46.1 Date 2020-06-17
Windows NTx64 10.0.18363
MV Basic / MV Extentions 2.08

In the system I am working on everything is in camel case, file names, program names, and programs.  When pulling up a file listing    from the workspace using the explorer all of the file names and program names are in upper case even though at the operating system level their names are in upper

[2020-06-29 03:20] kpowick commented on #118
I cannot reproduce this issue.  In my screenshot below, you can see two separate programs that are camel/mixed case.  These files reside in OS folders.  Where do your QM BASIC files reside?

<img width="633" alt="Screen Shot 2020-06-28 at 23 08 03" src="https://user-images.githubusercontent.com/1646753/85969130-c931bd80-b994-11ea-8e0b-abea209c69d0.png">

[2020-06-29 03:28] kpowick commented on #116
I'm not sure what you mean by this.  Are you talking about the linter?  No errors or warnings are raised by the extension when I try that construct.

If it is a compilation error then would it not be QM itself raising the error?

Can you provide the text of any error messages and screenshots?

[2020-08-11 04:03] itsxallwater commented on #114
Great feedback @Larrylaswell! Tacking on an administrative note to mention this will relate to #14 and having the linting and syntax highlighting be driven by the dynamic selection of the language, same as the IntelliSense functionality.

[2020-08-11 04:04] itsxallwater commented on #78
Just a note that Dick is working on testing this further

[2020-08-11 04:07] itsxallwater commented on #115
Similar note here, will ultimately relate to #14 and #114

[2020-08-11 04:18] itsxallwater opened #120 "[FEATURE] Separate connectors from core MV Basic extension"
**Is your feature request related to a problem? Please describe.**
Originally, the hope was that remote file system connectivity could be abstracted to a standard REST representation of the file system. MV Gateway and AccuTerm subscribe to that (though admittedly the former has some issues at the moment with the changes made here). The newly announced Linkar extension uses an entirely different AP

[2020-08-11 04:18] itsxallwater commented on #120
Tag @kosday @pschellenbach @dthiot @JeffTeter per the discussions we've had :)

[2020-08-11 04:22] itsxallwater commented on #120
I am intending on getting at this but it may be a week or two. The job to be done is primarily comparing https://github.com/mvextensions/mvbasiclinkar with https://github.com/mvextensions/mvbasic and working out comparisons and code splitting, plus creating new repos to act as the homes for MV Gateway and MV AccuTerm. One other benefit of this effort: smaller extension sizes, since we won't contin

[2020-08-11 04:22] itsxallwater commented on #117
This is an interesting concept and if not for the tie in to compilation and cataloging, I'd wonder if customizing the Snippets would get you most of the way there.

With the `compile` and `catalog` reqs I'm wondering if this isn't more of a server side thing, i.e. a custom program to run your pre-compile reqs + `compile` + `catalog` versus an MV Basic thing, which out of the box has no context for

[2020-08-11 15:43] itsxallwater commented on #120
Note: https://code.visualstudio.com/api/references/vscode-api#extensions for context on how one extension can expose an API and another extension can consume it. This will be relevant for code splitting the extensions and allowing them to talk to one another when present.

[2020-08-25 16:08] itsxallwater commented on #113
@brentlblair here's how I would approach this:

* Take a look at the [Language definition file for jBASE](https://github.com/mvextensions/mvbasic/blob/master/Syntaxes/jBASELanguage.json)
  * To extend the language definition we'll need to allow the extension to ingest JSON records that resemble the contents of this file--specifically, this array:
[code]
* The root `package.json` file has a section

[2020-08-25 19:14] brentlblair commented on #113
I have the functions autocomplete working now.
![Code_0ZkcLh1XjP](https://user-images.githubusercontent.com/23214321/91217113-01c7ec00-e6e5-11ea-89a9-2e1bf1b827be.png)
I also changed it to use key along with insertText which will allow me to type 'DateTimeFormat' and autocomplete
"DateTimeFormat(internalDate,internalTime,'formatString')"
This also tells Intellisense that the hover word is 'DateTim

[2020-08-25 19:18] itsxallwater commented on #113
A PR would be great, against the `develop` branch specifically as we aggregate changes there prior to releasing.

If you could include relevant doc updates for this new feature that'd be excellent as well. Nice work!!!

[2020-08-25 19:53] andrewcole50 opened #122 "[FEATURE] Highlight labels on GOSUB and GOTO lines"
It would be nice if there were a way to highlight labels when they're used on lines with GOSUB and GOTO commands like the wED editor does. See pictures for examples.
![example](https://user-images.githubusercontent.com/1955734/91220983-ff689080-e6ea-11ea-9929-7dfa541cb13d.jpg)

[2020-09-01 22:38] itsxallwater commented on #110
2.0.9 released! Closing issue.

[2020-09-01 22:38] #110 closed

[2020-09-01 22:38] itsxallwater commented on #111
2.0.9 released! Closing issue.

[2020-09-01 22:38] #111 closed

[2020-09-01 22:38] itsxallwater commented on #113
2.0.9 released! Closing issue.

[2020-09-01 22:38] #113 closed

[2020-09-10 16:06] brentlblair opened #126 "[BUG] Unused index in language files"
Index elements in the language files are no longer required because this is handled during the load process as it is added to the array.
I have removed all of the index elements from all language files in commit 41ddc79.

[2020-09-10 16:08] #126 closed

[2020-09-16 19:59] kpowick opened #127 "[BUG] Auto-Complete list of subroutines keeps growing, and across tabs"
Each time the auto-complete list is displayed, the number of entries for every subroutine name in the program grows by one entry per subroutine.

For example, if the program has 2 subroutines **_SUB.01_** and **_SUB.02_**, the first time the auto-complete list is displayed you see:
SUB.01
SUB.02

The second time it shows:
SUB.01
SUB.01
SUB.02
SUB.02

The third time it shows:
SUB.01
SUB.01
SUB.01
S

[2020-09-25 14:38] brentlblair opened #128 "Add user variables to the Intellisense array [FEATURE]"
Add user variables as they are typed to the Intellisense array so they can be used in autocomplete.
This should also work with renamed and deleted user variables.

[2020-09-25 14:39] brentlblair commented on #128
I now have the adding of user variables working on my local copy.  I have not figured out how to remove existing variables before they are renamed or deleted.

[2020-09-28 13:38] brentlblair commented on #128
The solution is to clear all of the Intellisense items that are CompletionItemKind.Variable and add them back.  I don't know if this is the most efficient way of doing it, but it seems to work.

[2020-10-01 03:35] brentlblair commented on #128
I have completed the changes and added MVBasic.userVariablesEnabled as a setting that defaults to false that can be used to activate this feature.  Pull request #129

[2020-10-08 22:07] itsxallwater commented on #128
PR accepted and published as v2.1.0! Closing this.

[2020-10-08 22:07] #128 closed

[2020-10-27 20:37] silvergem opened #130 "[FEATURE] Add T24 Functions as Language"
**Is your feature request related to a problem? Please describe.**
We are using jbase as DB connected on T24(Transact) Core Banking, Since VS studio code is very flexible on adding user snippets. I've added the common functions in T24

**Describe the solution you'd like**
Add new language T24 as language or linked the user snippets on extension

**Describe alternatives you've considered**
Download

[2020-10-28 16:49] itsxallwater commented on #130
Hi @silvergem! Thanks for taking the time to submit this. If you're open to going a little further, here's what is ultimately involved in adding a new language type:

1. A language definition file i.e. [jBASELanguage.json](https://github.com/mvextensions/mvbasic/blob/main/Syntaxes/jBASELanguage.json)
2. A syntax highlighting file i.e. [jBASE.tmLanguage.json](https://github.com/mvextensions/mvbasic

[2020-11-04 17:49] ShafferButtars opened #132 "[FEATURE] Display only certain sub-directories in the Explorer"
I am working with a bloated account that has a few source code directories and configuration directories that I care about among thousands of files and folders that I don't care about.  All of them show in the Explorer view in VSCODE and it's extremely difficult to navigate to the few (or one) I care about.

I'd like to see a way to either

1. Specify only certain directories to be displayed in th

[2020-11-04 18:34] pschellenbach commented on #132
There is an update for the AccuTerm host programs that should help with this. One of the big differences with VSCode vs WED is that WED does not automatically populate the file system tree, but VSCode does. This host program update lets you list the files you want to show in the file browser so you can show only the files you want. Here's a link to the github issue: https://github.com/zumasys/accu

[2020-11-04 19:35] ShafferButtars commented on #132
Thank you for the information and clarification.

[2020-11-04 19:36] #132 closed

[2020-11-24 19:38] JeffTeter opened #133 "[BUG] When copying contents to a new item, the item is suffixed with ",,,,,,,VSCODE.RESTFS""
Copying the contents of one record to a new empty record, the data from the original does appear in the new record but it also has the string ",,,,,,,VSCODE.RESTFS" at the end of the record. This string does not display in the VSCode editor panel but is seen when looking at the item in UniVerse.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a text item in the VSCode editor.
2. Select

[2020-11-24 20:42] itsxallwater commented on #133
@JeffTeter can you confirm your AccuTerm host programs version for us?

CC @pschellenbach

[2020-11-24 21:15] JeffTeter commented on #133
![image](https://user-images.githubusercontent.com/13050714/100152057-b948d780-2e67-11eb-930e-ec9e86eb8e9e.png)

I am also running the updated 'FTBP FTFSI' component to allow the excluded/included files.

[2020-11-24 21:24] JeffTeter commented on #133
FTBP FTFSI v8.0.4
FTBP VSCODE v8.0.3
FTBP WED v8.0.1

Which others would be helpful?

[2020-11-25 00:39] itsxallwater commented on #133
Run `FTABOUT` and you should have output like this:

[code]

[2020-11-30 17:36] JeffTeter commented on #133
Sorry to take so long getting this... Out of pocket over the holidays...

AccuTerm Host Program Details

  FTBP version: 8.000.005
  Host platform: UV
  GUIBP: not installed
  OBJBP: not installed
  SUIBP: not installed
  ACCUTERM account name: BLMASTERJJT

File Transfer Configuration
  Default transfer mode: Text
  Host item size limit: Unlimited
  Preserve file extension: Yes
  Overwrite existin

[2020-11-30 21:35] itsxallwater commented on #133
No problem! It looks like you're a couple releases behind on the host programs, are you able to update and re-test once you're running `8.000.007`? We've got a callout on this at https://github.com/mvextensions/mvbasic/blob/main/doc/Extension%20Guide.md#52-option-2---accuterm but you can get direct to the download at https://zdownload.blob.core.windows.net/accuterm/Host-Programs/Windows/x86/8.0.10

[2020-12-02 19:33] pschellenbach commented on #133
Jeff - I tested host programs version 8.0.11 (https://github.com/zumasys/accuterm-host-programs/blob/master/install/pickbp-8.0.11/pickbp.exe) on Universe (older release) and am unable to reproduce the problem.
Thanks, Pete

Peter Schellenbach | Director of Product Development
Zumasys Inc.
818-658-1592 | 866-582-8447
peters@zumasys.com | www.zumasys.com
1050 Calle Amanecer, Suite A | San Clemente,

[2020-12-03 00:10] itsxallwater commented on #133
Thanks Pete. Good to acknowledge that I am running, and mentioned 8.0.7 whereas the link I posted (from the docs) was to 8.0.10 and Pete has linked an even newer build at 8.0.11, just in case there's any confusion. If memory is serving I'd expect this to address itself with any of those versions but definitely just jump straight to latest!

[2020-12-09 16:52] JeffTeter commented on #133
This issue has recurred and I have a bit more of the train of sequences to provide.

1. Each of these files were created by adding a new item to the MLISTS file that is used in our system to hold manifest lists for deployment. These were created as new/empty file.
2. Rows were copied from an existing item (for instance "2020.3.90.36.3.D_WNB!CODES"), pasted into the new file and saved. It appeared

[2020-12-09 17:42] pschellenbach commented on #133
Jeff - Thanks for verifying the host programs version. 8.0.11 is the latest version. One other thing to check is the version of atsocksvr.exe that is installed. AccuTerm 8.0.1020 ships with atsocksvr.exe version 1.0.3, but atsocksvr.exe 1.0.4 is available by installing the accuterm-vscode-connector update for AccuTerm 7 users (https://zdownload.blob.core.windows.net/accuterm/Miscellaneous/Windows/

[2020-12-10 22:48] JeffTeter commented on #133
I have tested this again after updating per recommendation from Pete to 'atsocksvr.exe' v1.0.0.4. The process of copying data from one record to a new one seems to be resolved. However, there does still seem to be an issue when copying an item to a new item. That is documented in the attached.

[20201210 Test AccuTerm RESTFS.pdf](https://github.com/mvextensions/mvbasic/files/5675988/20201210.Test.

[2020-12-12 01:54] pschellenbach commented on #133
Thanks Jeff. I am able to reproduce the problem now. It looks like it affects both the 'rename' and 'copy' REST APIs.

Peter Schellenbach | Director of Product Development
Zumasys Inc.
818-658-1592 | 866-582-8447
peters@zumasys.com | www.zumasys.com
1050 Calle Amanecer, Suite A | San Clemente, CA 92673
From: Jeff Teter <notifications@github.com>
Sent: Thursday, December 10, 2020 2:49 PM
To: mvexte

[2021-01-19 16:32] itsxallwater commented on #133
Live!

[2021-01-19 16:32] #133 closed

[2021-01-19 17:04] dthiot commented on #48
We discussed this issue today.  Sorry that we haven't addressed this in so long.  I think that the problem is possibly related to the MVSP connection timing out.  Could you try hitting F1 and Connect to MultiValue REST FS again?

Have you looked at the Accuterm connector?

[2021-01-19 19:38] jtsom opened #136 "[BUG] Add support to optional colon for GOTO/GOSUB labels"
**Is your feature request related to a problem? Please describe.**
Add syntax support for using colons in GOTO and GOSUB labels.

![image](https://user-images.githubusercontent.com/13488/105084176-f8f4ff80-5a63-11eb-9704-502a9da5cb72.png)

[2021-01-19 20:29] dthiot commented on #136
What flavor of MultiValue system are you using?

[2021-01-19 20:37] kpowick commented on #136
Though I've never seen it "in the wild", I was surprised to discover that the syntax described is permissible in both D3 and QM.

[2021-01-19 20:55] jtsom commented on #136
Code was actually written in INFO-BASIC, part of Prime Information (back in the early 80's). It went through some updates when we transitioned to an IBM RS/6000 with Universe and UV Basic.

[2021-01-19 22:42] dthiot commented on #136
Thanks for the reply.  I hadn’t seen that syntax used before even though PR1ME Information was the second MultiValue system that I worked on.

If you are interested in being part of the community team that works on the VS Code extension we would love to have you or anyone else at your company.

Dick Thiot
Maverick Systems

From: John Tsombakos <notifications@github.com>
Reply-To: mvextensions/mvba

[2021-01-19 22:45] jtsom commented on #136
You're welcome. I used Info-Basic and VMark Universe basic for over 19 years at a previous company, long since gone. I came across a backup of our software catalog that basically ran the company, and was surprised to find a VSCode extension for it. I will check out the community!

[2021-03-04 01:25] tcharts-boop opened #142 "[FEATURE] Add mvBase PROC as a language option."
**Is your feature request related to a problem? Please describe.**
I work at company who uses a lot of PROCs within their menus and some of their processes. It's pretty annoying to have to edit these files because there is no syntax highlighting at all. I published my own [mvBase PROC syntax highlighting extension](https://github.com/tcharts-boop/mvbase-proc-extension) to the marketplace but it wo

[2021-03-04 04:58] itsxallwater commented on #142
I think it's a fantastic idea! We don't have an mvBase language definition yet either, perhaps you'd be willing to work on that too if it's not too much to ask?

[2021-03-04 05:24] tcharts-boop commented on #142
Sure! I'm not sure what a language definition is though. Is there any existing examples I can look at to get an idea of where to start?

[2021-03-04 05:37] itsxallwater commented on #142
Absolutely. If you check out the Syntaxes folder in this repo that's a great place to start--I think adding proc files there will be key plus you can get a sense for the existing language definition and syntax highlighting files for other flavors.

One example is https://www.github.com/mvextensions/mvbasic/tree/main/Syntaxes%2FjBASELanguage.json.

In general note that the _FlavorLanguage.json_ fil

[2021-03-04 13:59] andrewcole50 commented on #142
As a note, last I heard mvBase was getting discontinued/rolled-into d3. Now that was ~3 years ago and one of the major reasons we migrated to another flavor. Unless that's changed, I'm not sure it would be worth it to create a new language definition for a sunsetting flavor. From what I remember, the only real differences regarding mvBase BASIC were the DOS file operations functions (UOPEN, UREAD,

[2021-03-04 14:35] tcharts-boop commented on #142
I'm very new to the MultiValue Pick universe, so apologies for any misunderstandings I may have. I named my extension under the guise of mvBase because I pulled the syntax from the following documentation: [mvBase PROC User Reference Guide Overview](https://www3.rocketsoftware.com/rocketd3/support/documentation/mvb/32/refman/proc/index.htm#mvbase_proc_user_reference_guide_overview.htm).

Now that

[2021-03-04 15:54] dthiot commented on #142
Andrew,

As the page at the link suggests, Rocket has integrated mvBASE functionality into D3 10.3.1 and beyond.  mvBASE was based on a traditional ABS that is a bit different for D3/Windows and since mvBASE was a windows only product I suspect that most sites would migrate to D3 on Windows rather than Linux.  Anyone that has custom ABS (PICK assembler) code has work to do to make the transition a

[2021-03-04 16:27] andrewcole50 commented on #142
@dthiot you're correct in regards to that article. I just did a quick web search to pull something that (partially) supported what I was saying. My info very well may be outdated but in 2017 someone (I won't name him) at Rocket told me on the phone that they wanted to add mvBase functionality to d3, migrate mvBase users to d3 and shutter further mvBase development. Not long after that call Rocket

[2021-03-04 16:27] itsxallwater commented on #142
My thoughts:

1. On mvBase vs D3, I think supporting both is fine and acceptable and doesn't put too much burden on this project. The two have a high amount of overlap but they are different, and there are plenty of people still running the former. Even with Rocket's decision, there are liable to be mvBase sites out in the wild for quite some time.
2. On separate PROC definitions done per flavor v

[2021-03-04 19:27] andrewcole50 commented on #13
@ianmcgowan I wrote a converter script that converted the snippets files to the {FLAVOR}Language.json files for d3 and I thought I'd run it for UniData as well. The script made estimates on which icons to use and I did NOT manually look at much of the results. I think it would be great if you could look at the referenced PR and verify what was done.

AFAIK, the icon numbers correlate to:
3 = Funct

[2021-03-04 19:35] dthiot commented on #142
That is a very good point that the mvBASE users won’t have support from their vendor.

From: Mike Wright <notifications@github.com>
Reply-To: mvextensions/mvbasic <reply@reply.github.com>
Date: Thursday, March 4, 2021 at 10:34 AM
To: mvextensions/mvbasic <mvbasic@noreply.github.com>
Cc: Dick Thiot <dthiot@mavsys.com>, Mention <mention@noreply.github.com>
Subject: Re: [mvextensions/mvbasic] [FEATUR

[2021-03-04 21:29] andrewcole50 commented on #14
FWIW, the more I look into the language configurations the more it seems like this project is "hacking" the TextMate schema in order to obtain multiple languages in one. It seems to me like it may almost be a better practice to have the bare bones MVON and structure development as this extension while forking for other flavors (i.e. jBASE-BASIC, d3-BASIC, UniData-BASIC, etc.) with the forks only o

[2021-03-04 21:54] kpowick commented on #14
I would say this is true.  Language plugins for VS Code are to support a single language, not multiple versions or different languages.  I don't know if we'll ever have the option with the single mvExtensions plugin to indicate which flavour of MV one is working on and have the linter, highlighter, and snippets work for only that selected language.

I just came across this proof-of-concept that  m

[2021-03-05 12:59] andrewcole50 commented on #14
So while promising, it looks like it's fully language dependent according to the docs.
https://code.visualstudio.com/api/references/contribution-points#contributes.snippets

BUT, that leads me to another option which I found from the above link. It looks like this extension can define multiple languages per the documentation here:
https://code.visualstudio.com/docs/languages/identifiers

With the

[2021-03-05 16:42] itsxallwater commented on #14
Quick preface here that, while I've had this assigned to me, I haven't had a chance to do anything further with it yet so if one of you feels like you have a path to getting this accomplished, I'm happy to not get in the way.

If I _were_ going to sit down and start working on it, though, I planned to pick things up with:.

I need to "paint" keywords of a language that is created in a runtime. Als

[2021-03-05 18:10] kpowick commented on #14
DOTADIW - "Do One Thing and Do It Well", comes to mind.  And maybe the KISS principle too.

My concern is that you'll end up with a monolithic extension that has a myriad of corner cases to code around that make understanding and participation in development more difficult than necessary.  It could also make bug-hunting troublesome.

If each mvBASIC language extension focused on a particular langu

[2021-03-05 18:35] itsxallwater commented on #14
I'm open to it. Note in https://github.com/mvextensions/mvbasic/issues/120 that we're talking about the same concept of splitting the extension up to simplify, but in that issue focusing more on the various connectors available (MV Gateway, AccuTerm and now Linkar).

TL;DR yes, continuing to separate considerations here into a series of extensions with a shared base may be do-able and acceptable.

[2021-03-08 21:30] andrewcole50 commented on #14
So I did some digging and I think we can actually accomplish this without splitting up the languages. I _believe_ we're just not utilizing our server typescript to it's fullest extent. Our current set up has the server checking the language setting and pulling a language definition json file (jBASELanguage.json, etc.) to then load into IntelliSense. Well that same method should be able to insert a

[2021-03-09 17:53] andrewcole50 commented on #14
@itsxallwater pretty sure that's not it. I've done it in both my Windows 10 and Ubuntu VMs with no luck while my host VSCode was shutdown. I'm guessing it's something with node that I don't have right *shrug*

[2021-03-09 18:39] andrewcole50 commented on #14
@itsxallwater

With a fresh clone, run "npm install" with no errors. Then try to run either "Launch Client" followed by "Attach to Server" or the prebuilt package to run both. At this point I get an error that looks like:

[code]
So if I try a compile to create that out dir I get:

[code]
Eventually in my testing I ran prepublish and webpack and after one of them VSCode shows that I'm connected to

[2021-03-09 20:28] kpowick commented on #14
I don't really follow that output or the reasons for it.  Working on the MV extensions project has just "worked" for me.  I've also never had to play around with my firewall settings.

Did you initially set up the project according to the steps in the Development Intro guide?
https://github.com/mvextensions/mvbasic/blob/main/doc/DeveloperIntro.md

I may just try an new install on a windows VM for

[2021-03-11 04:57] itsxallwater commented on #127
Fixed in `develop` and will be included in release 2.1.3. Thanks @kpowick and @tcharts-boop! 🥳

[2021-03-11 04:57] #127 closed

[2021-03-11 05:00] itsxallwater commented on #14
Relevant bit from the thread in the PR: https://github.com/mvextensions/mvbasic/pull/148#issuecomment-796433410

TL;DR I think that branch was based off `main` not `develop` and it was missing a key `client/tsconfig.json` change to resolve that compilation issue about Blobs with one of our dependencies. Once I patched that in I was able to run @andrewcole50's changes with great success.

I think t

[2021-03-11 06:34] itsxallwater commented on #14
So I have a POC of dynamic highlighting done via Semantic Highlighting. It's a little bit of a bummer because the implementation has to be inside of the language extension and _not_ the language server. As a result, it _also_ means we'll need to tell people to flip this configuration setting to enable it:

[code]

Check it out. [MAKETIMESTAMP](https://docs.zumasys.com/jbase/jbc/maketimestamp/) is

[2021-03-11 13:50] andrewcole50 commented on #14
Re #148

Wanted to just roll the convo into this since it's relevant to the bigger picture. I closed the other PRs since all of the previous changes are rolled into #148. I see that the snippets worked partially. I wasn't sure if the $vars or the \n and \t would work as it did in a vanilla snippets file. I'm going to try and fix my compile issue and see if I can fix that.

But knowing that the sni

[2021-03-11 16:24] itsxallwater commented on #14
Couple thoughts:

1. I think the preferred path is via the TextMate language definition file but this Semantic Highlighting stuff available to the extension side allows users (or themes!) to customize/overload. That's helpful for our purposes because there's no way to dynamically re-bind the `.tmLanguage.json` file association right now since it is specified in the `package.json` and at that point

[2021-03-16 15:24] tcharts-boop commented on #142
I've been working on updating the tmLanguage file for my PROC extension and also creating a language definition file. To settle on this issue and provide a good starting point, I'll make a pull request in the near future to add the Universe flavor PROC language to this extension. When that's complete, I can start looking for other PROC documentation to make separate PROC tmLanguage and language de

[2021-03-16 15:36] itsxallwater commented on #142
Love it!

[2021-03-16 16:12] dthiot commented on #142
I love it to. I may be able to help with mvBase and D3.

We should consider having another call. Next Tuesday?

On Mar 16, 2021, at 10:37, Mike Wright ***@***.***> wrote:

﻿

Love it!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/mvextensions/mvbasic/issues/142#issuecomment-800370191>, or unsubscribe<https://github.com/noti

[2021-05-16 20:39] osvaldokian59 opened #153 "[BUG] Help with MV Gateway connecting to HP UX UniVerse"
I am connected to Universe running under HP-UX. Attached is the configuration file I'm using.

The connection is established correctly, and some type 1 files appear that are defined in the account, but not all.

If I expand the APP.PROGS folder (see attached image), I can see all its contents, as well as the SYS.TERMINALS folder.

But if I try to see the content of PGM.DESA (file created by me), t

[2021-05-16 20:54] itsxallwater commented on #153
Hi @osvaldokian59 this looks like you're using the MV Gateway connector, is that correct?

Would you be able to try using AccuTerm as an alternative? MV Basic supports both options as well as local use, plus the Microsoft Remote SSH extension, as other alternatives.

[2021-05-16 23:41] osvaldokian59 commented on #153
Hi @itsxallwater
You're right. I am using MV Gateway connector and the connection is thru a VPN, that is, the server is in other location, not my home.

But I have not a license of AccuTerm. It's not an alternative for us.
I am testing this tool for my development team (~12 people) and the purchase of licenses is not an option so far.

I didn't know about Microsoft Remote SSH extension, but I'm wi

[2021-05-16 23:49] itsxallwater commented on #153
Hey @osvaldokian59! The remote ssh extension should walk you through everything when you install it. Microsoft has good documentation too. If you can ssh to your server, you can use the same credentials with the extension. It initializes an ssh connection to the destination just like any other ssh client and, essentially, mounts that remote file system inside your VS Code instance. It's pretty cle

[2021-05-17 00:10] osvaldokian59 commented on #153
Hi @itsxallwater
Thank you for your response (on Sunday!)
I will try to connect with the ssh extension. So, I think it's not necessary to ask @ dthot or @ GrantHat for help. By now.

Linkar server it's an option, because is a paid product, but low fees.  We can't use it because our server is running HP-UX and Linkar runs on Linux, not Unix. Maybe in a near future, when migrate to Linux, we'll test

[2021-05-17 12:41] osvaldokian59 commented on #153
Hi @itsxallwater
Unfortunately, the SSH option doesn't work for me. The reason is that the MS SSH extension doesn't connect to a Unix server, and this is my case.

So, as you suggest, may I ask @dthiot or @GrantHart for help on the error I'm getting with MV Gateway?
Should I open a new issue?

Thank you.
Regards.
Osvaldo.

[2021-05-17 14:08] itsxallwater commented on #153
No you need not open a new issue, if they can provide any assistance they'll comment back in this thread.

Any plans to migrate away from HP UX? Just curious.

[2021-05-17 14:28] dthiot commented on #153
@osvaldokian59<https://github.com/osvaldokian59>, this is @dthiot<https://github.com/dthiot>.  I will have to look at MVGateway to see why it is causing a problem.  Give me a day or two to review.

From: Mike Wright ***@***.***>
Reply-To: mvextensions/mvbasic ***@***.***>
Date: Monday, May 17, 2021 at 9:09 AM
To: mvextensions/mvbasic ***@***.***>
Cc: Dick Thiot ***@***.***>, Mention ***@***.***>
S

[2021-05-17 14:35] osvaldokian59 commented on #153
Hi, Mike.
Yes, we'll migrate to Linux, but the company has not defined the schedule yet.

Thank you for your help.
Regards,
Osvaldo

[2021-05-17 14:37] osvaldokian59 commented on #153
Hi Dick.
I'll be waiting for your comments.

If you need more information about my setup, just ask me for that.

Thank you.
Regards,
Osvaldo

[2021-05-20 16:44] itsxallwater opened #154 "[BUG] No hot reloading for custom function file"
**Describe the bug**
If you are using the _Custom functions and subroutines_ functionality of the extension and you make a change to the file you have configured, IntelliSense is not detecting the change and rebuilding the language definition on the fly. You have to reload the VS Code instance or change the value in the settings and re-introduce to trigger the IntelliSense to rebuild.

**To Reprod

[2021-08-17 06:37] stuboydl opened #158 "[BUG] Add Line Comment on SSH session inserts \*"
When editing over an SSH Remote session, using the Add Line Comment command inserts **\\***

**To Reproduce**
1. Install MS Remote - SSH extension
2. Install MV Basic extension
3. Connect to linux host through ssh and start editing a file with mvbasic language mode.
4. Use Ctrl-/ or Ctrl+K,Ctrl+C or F1 - Add Line Comment
5. Line is prefixed with **\\*** (backslash asterisk)

**Expected behavior**

[2021-08-17 17:45] kpowick commented on #158
You may be able to change this in the file `language-configuration.json`.

<img width="487" alt="Screenshot 2021-08-17 at 1 35 46 PM" src="https://user-images.githubusercontent.com/1646753/129774609-757bcd44-e7bd-4322-92a4-b3b3956f3478.png">

You should find that file in the `extensions` folder of your VS Code installation, under the subfolder `mvextensions.mvbasic-2.1.x/client`

[2021-08-18 02:43] stuboydl commented on #158
Thanks - that works for local changes but not for an SSH session.

[2021-08-18 05:05] stuboydl commented on #158
Changed on the remote ~/.vscode-server/extension...

[2021-08-18 05:05] #158 closed

[2021-08-18 05:09] itsxallwater commented on #158
Glad you got this sorted! Thanks for the assist @kpowick.

[2021-10-13 00:26] stuboydl opened #159 "[BUG] language-configuration.json, comments, lineComment has preceeding backslash"
**language-configuration.json, comments, lineComment has preceeding backslash**
The lineComment command places \\* on comment lines.

lineComment command is configured here:
https://github.com/mvextensions/mvbasic/blob/main/client/language-configuration.json

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an MV program
2. Put cursor on a line of code
3. Press Ctrl-/
4. This will prefac

[2021-10-18 05:40] stuboydl commented on #159
I see it's already been updated in the develop branch - closing.

[2021-10-18 05:40] #159 closed

[2021-12-04 06:18] kpowick opened #162 "VS Code 1.62 breaks the extension. Downgrade to 1.61"
It seems that a recent update of VS Code has broken the extension.  I updated VS Code on my Mac and, other than syntax highlighting, the extension stopped working.  However, it did work on my Linux VM, until I updated VS Code there as well. ☹️

Can anyone confirm this issue with their own VS Code?

**VS Code info**
Version: 1.62.3
Commit: ccbaa2d27e38e5afa3e5c21c1c7bef4657064247
Date: 2021-11-17T0

[2021-12-04 06:27] itsxallwater commented on #162
Pete mentioned he'd heard similar. Will try and take a look next week.

[2021-12-04 06:47] mail2lawi commented on #162
Interestingly I was just here to report the same issue.
1.62 broke the extension on Ubuntu as well. Downgrading back to 1.61 restored the functionality

[2021-12-04 07:00] kpowick commented on #162
Thanks for the confirmation.

I have also downgraded VS Code back to 1.61.2 and the extension is working again.

Downloads for VS Code 1.61.2 can be found at the following link.

https://code.visualstudio.com/updates/v1_61

[2021-12-04 07:43] kpowick commented on #162
Now that we know what's happened, and the temporary solution, I'm pinning this issue and changing the title so it's prominent.

[2021-12-04 16:16] dthiot commented on #162
You probably want to disable automatic updates too as that is the default in settings.  Change it to manual.

From: Kevin Powick ***@***.***>
Date: Saturday, December 4, 2021 at 1:01 AM
To: mvextensions/mvbasic ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [mvextensions/mvbasic] Broken due to VS Code update? (Issue #162)

Thanks for the confirmation.

I have also downgraded VS Code back to

[2021-12-06 17:06] itsxallwater commented on #162
Fingers crossed I'll have a window to dig into this a little more this week but here's a snippet from the `Log (Extension Host)` output on my machine. My guess/hope here is that we just need a few package updates.

[code]

[2021-12-07 00:11] itsxallwater commented on #162
Have picked this up in the background to run package updates and test. Note there's another thread running and describing this error message:

[code]

It appears that error is being tracked in the VS Code repo itself (see https://github.com/microsoft/vscode/issues/136874)

[2021-12-08 00:20] itsxallwater commented on #162
Generated a 2.1.3 build locally with updated packages but no dice. It looks (and the call stack above suggests) our issue to be related to `sync-rpc` and `sync-request` which are direct and indirect dependencies of the RestFS stuff in the client package. They are pretty dated and not recommended for prod use at this point so I'll take a look at subbing them out. CC @pschellenbach since I think you

[2021-12-08 01:10] pschellenbach commented on #162
Sorry to hear updating packages did not help. sync-request seemed like a nice package at the time. Too bad its not updated. There are lots of promise-based HTTP request packages available, but the code, as-written, is async calling sync, so a sync request is ideal. Maybe something like `simple-get` would not be too difficult to convert to? Interesting that github for sync-request or sync-rpc do no

[2021-12-08 18:06] itsxallwater commented on #162
Valid question. Also curious if we can lazy load that in as it should only really impact if someone is trying to use the RestFS stuff. In the instance of building and running the language server for intellisense and language definition, that part is completely unrelated.

[2021-12-10 23:51] itsxallwater commented on #162
Well I can confirm that subbing out sync-request in the RestFS implementation allows the extension to load okay. If anyone is using it for basic intellisense and language definition stuff here's a pre-release copy that you can install on current VS Code and be okay. The RestFS stuff isn't quite working so if you're needing to use that piece for connectivity to a server you're still better off stay

[2022-01-13 23:29] itsxallwater opened #163 "Remove * activation event"
Per https://code.visualstudio.com/api/references/activation-events#Start-up, the '*' activation event (registered in the `activationEvents` array of `package.json` has a negative impact on performance of VS Code. Need to explore removing this and perhaps expanding the list of activation events we're already registering.

[2022-01-18 00:20] itsxallwater commented on #162
Latest beta build.

[mvbasic-2.1.3.zip](https://github.com/mvextensions/mvbasic/files/7885277/mvbasic-2.1.3.zip)

[2022-01-21 18:28] itsxallwater commented on #162
Getting closer to release but still a few things to iron out:

1. Saving a workspace closes the connection and rest server on the AccuTerm side
2. Saving new records (writeFile) returns a 404 (saving updates to existing records works)

[2022-01-21 18:50] itsxallwater commented on #162
Not completely accurate, it's only if you "_Save Workspace As..._". VS Code will complete the save, call the deactivate hook for the current instance of VS Code, and then launch a new instance with that newly saved Workspace open. Our problem is that we call RestFS' `logout` during deactivation so by the time the new instance is opening, the AccuTerm RestFS server has stopped listening. This is ul

[2022-01-21 21:34] itsxallwater commented on #162
Went with making it an option, `MVBasic.RestFS.AutoClose`. Default is `false`. Attached is an updated copy of 2.1.3. Worked like a charm in testing.

[mvbasic-2.1.3.zip](https://github.com/mvextensions/mvbasic/files/7916692/mvbasic-2.1.3.zip)

[2022-01-21 22:36] itsxallwater commented on #162
Have a fix for this too, working on an adjacent issue with `createDirectory` and then will update here.

[2022-01-21 23:43] itsxallwater commented on #162
Latest updates w/ fixes for `writeFile` and `rename`. Verified `delete` is working. Last issue I can see is still with `createDirectory` and that has to do with how things are structured in `_stat`. CC @pschellenbach would be great to have you put eyes on that in particular next.

Sort of residual but we'll have to re-think non-200 response code handling, you can see I made one adjustment there al

[2022-01-21 23:46] dthiot commented on #162
Mike Wright,

You rock!!  I have already downloaded the source.  Now if I can just get some time to “put eyes on it”.

Dick

From: Mike Wright ***@***.***>
Date: Friday, January 21, 2022 at 5:44 PM
To: mvextensions/mvbasic ***@***.***>
Cc: Dick Thiot ***@***.***>, Mention ***@***.***>
Subject: Re: [mvextensions/mvbasic] VS Code 1.62 breaks the extension. Downgrade to 1.61 (Issue #162)

Would also

[2022-01-27 19:10] itsxallwater commented on #162
@pschellenbach fixed up a few other things and we think this is ready to go. Will be publishing shortly.

[2022-01-27 19:38] itsxallwater commented on #162
This is live, tested again and confirmed! Thanks for hanging tough all.

[2022-01-27 19:38] #162 closed

[2022-03-10 23:45] RDGInfoSys opened #167 "[BUG] Syntax Highlighting Incorrect When Using Backslash ('\') to Delineate String Literals"
**Describe the bug**
A number of mvBASIC flavors support the use of backslashes ('\') to delineate string literals for example:
`A.STRING = \It's easy to use single (') and double (") quotes when using backslashes to define strings\`

Unfortunately, the MV Basic Extension doesn't track the string inside the backslashes and unmatched single and double quotes continue to disrupt syntax highlighting

[2022-06-20 18:31] itsxallwater commented on #136
Adding `$` and potentially other special characters to the list; QM, for instance, allows for `$` in labels but the linter currently does not recognize them as valid.

[2022-11-21 08:03] lecramc opened #172 "[BUG] MVGateway and VSCode D3 Rocket"
Hello, everyone!
We previously posted a request as we are allready trying to use VsCode with D3.

using the troubleshooting section of the doc, we tried to connect to mvsp with this Json without success....

POST http://localhost:9005/Login
Content-Type: application/json
{
"AccountName":"dm",
"ServerType": "D3",
"RemoteHost": "http://192.168.2.4:9000/",
"ServerName":"",
"UserId" : "dm",
 "Password

[2022-11-21 16:42] itsxallwater commented on #172
Hey @lecramc thanks for reporting. Would you have the ability to try one of the other connector options? Otherwise perhaps @dthiot or @GrantHart could chime in with tricks for D3. This may also come down to general compatibility of the extension with the MV Gateway connector.

[2022-11-21 17:28] lecramc commented on #172
Thank's @itsxallwater, yes maybe the second option (accuterm), but if we can avoid to pay...
Ok maybe try an older version of mvbasic extension?

Rocket's extension doesn't allowed D3 server if I'm not mistaken...

[2022-11-21 17:53] dthiot commented on #172
Either Grant H or myself will look into this sometime this week.

Dick

From: Clément MARCEL ***@***.***>
Date: Monday, November 21, 2022 at 11:28 AM
To: mvextensions/mvbasic ***@***.***>
Cc: Dick Thiot ***@***.***>, Mention ***@***.***>
Subject: Re: [mvextensions/mvbasic] [BUG] MVGateway and VSCode D3 Rocket (Issue #172)

Thank's @itsxallwater<https://github.com/itsxallwater>, yes maybe the secon

[2022-11-21 18:43] lecramc commented on #172
Ok thank's @dthiot ! if I can help, I am at your disposal

[2022-11-21 20:46] dthiot commented on #172
Please send me your contact information to ***@***.******@***.***>.  Are you in France?

Dick

From: Clément MARCEL ***@***.***>
Date: Monday, November 21, 2022 at 12:44 PM
To: mvextensions/mvbasic ***@***.***>
Cc: Dick Thiot ***@***.***>, Mention ***@***.***>
Subject: Re: [mvextensions/mvbasic] [BUG] MVGateway and VSCode D3 Rocket (Issue #172)

Ok thank's @dthiot<https://github.com/dthiot> ! if I

[2022-11-21 21:00] lecramc commented on #172
Yes I'm form France, I setd an email to your mail address on your github's profile.

[2022-11-29 14:53] lecramc commented on #172
Hi everyone,
Today we have test with accuterm, that's work fine.

But we have a lot of "subfolder", can we list juste one of them or more ?

Best regards,

[2022-11-29 15:02] dthiot commented on #172
Clément,

Yes there is a way to limit the files but I don’t remember how that was implemented for Accuterm.  Hopefully, Peter or Mike can reply.  Later today, if I don’t see a reply I will dig into my system and find what it is.

Dick

From: Clément MARCEL ***@***.***>
Date: Tuesday, November 29, 2022 at 8:53 AM
To: mvextensions/mvbasic ***@***.***>
Cc: Dick Thiot ***@***.***>, Mention ***@***.***

[2022-11-29 15:09] lecramc commented on #172
Thank's Dick,
I have tried with MvBasic.EditFiles option but I'm not sure if this is the right way or I haven't the right synthax.
Maybe we will take the license for accuterm after the trial version but if you have any feedback on MvGateway and my mistake I am interested.

Thank's a lot !

[2022-11-29 18:23] pschellenbach commented on #172
Clément,

There is a way to specify a list of files to return when VSCode requests the "root" directory of the file system. When using the AccuTerm connector, the "root" directory maps to the account MD or VOC. The default is to return a list of all the files found in MD/VOC. In some environments this list can be quite long (and time consuming to scan).

There is a small note about using MVCONNECT

[2022-11-29 19:07] lecramc commented on #172
Hi Pete,

Thank you! It works fine, we can filter on the file name.

Clément